<div class="toplevel">
  <div class="nameDiv">
    <form [formGroup]="teamForm">
      <mat-form-field appearance="fill">
        <mat-label>Team Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="this.teamForm.controls['name'].hasError('required')"
          class="error">Required</mat-error>
      </mat-form-field>
    </form>
  </div>
  <div class="editorDiv">
    <mat-tab-group preserveContent="true" [backgroundColor]="'warn'" 
      color="'accent"
      style="width: 100%;height: 100%;border: solid 1px yellow;">
      <mat-tab label="Work Codes">
      </mat-tab>
      <mat-tab label="Companies">
      </mat-tab>
      <mat-tab label="Contact Types">
      </mat-tab>
      <mat-tab label="Specialty Types">
      </mat-tab>
      <mat-tab label="Sites">

      </mat-tab>
    </mat-tab-group>
  </div>
</div>
