<div class="main stdcolors">
  <div class="main-header">
    <h1>Administrative Tools</h1>
  </div>
  <div class="teams-editor-title">
    <h4>Teams Editing</h4>
  </div>
  <div class="teams-editor">
    <app-admin-teams-editor></app-admin-teams-editor>
  </div>
  <div class="users-editor-title">
    Account Monitor
  </div>
  <div class="users-editor">
    <app-admin-users-tool></app-admin-users-tool>
  </div>
  <div class="purge-editor">
    <app-admin-data-purge-tool></app-admin-data-purge-tool>
  </div>
</div>