.main {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  padding: 5px;
  background-color: #673ab7;
  color: white;
}

.main-header {
  position: absolute;
  top: 0px;
  height: 45px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: solid 3px white;
}

.teams-editor-title {
  position: absolute;
  top: 48px;
  height: 25px;
  left: 0px;
  right: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px white;
  border-right: solid 3px white;
}

.teams-editor {
  position: absolute;
  top: 74px;
  bottom: 0px;
  left: 0px;
  right: 400px;
  display: flex;
  padding: 5px;
  overflow: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-right: solid 3px white;
}

.users-editor-title {
  position: absolute;
  top: 48px;
  height: 25px;
  right: 0px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px white;
}

.users-editor {
  position: absolute;
  top: 74px;
  bottom: 90px;
  right: 0px;
  width: 392px;
  display: flex;
  padding: 5px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: solid 1px white;
}

.purge-editor-title {
  position: absolute;
  bottom: 151px;
  height: 25px;
  width: 400px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px white;
}

.purge-editor {
  position: absolute;
  height: 79px;
  bottom: 0px;
  width: 390px;
  right: 0px;
  padding: 5px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: pink;
}