.date {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 23px;
  border: solid 1px black;
}

.form-field {
  width: 99%;
  height: 99%;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  color: inherit;
  border: none;
}

.code {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 23px;
  border: solid 1px black;
}

.hours {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 23px;
  border: solid 1px black;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 23px;
  border: solid 1px black;
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 23px;
  border: solid 1px black;
}

.deleteIcon {
  transform: scale(.5);
  color: pink;
  cursor: pointer;
}