<div class="flexlayout column topcenter">
  <div class="flexlayout row topcenter">
    <div class="list">
      <div *ngFor="let item of holidays"
      (click)="onSelect(item.id)"
      [class]="getButtonClass(item.id)"
      >{{item.label}}</div>
    </div>
    <div class="layout-stretch sortdiv">
      <div class="layout-top movement"
        matTooltip="Change Display Order - Move Up"
        (click)="onChangeSort('up')">
        <mat-icon *ngIf="showSortUp">arrow_drop_up</mat-icon>
      </div>
      <div class="flexlayout column center deleteDiv"
        matTooltip="Delete selected holiday">
        <mat-icon *ngIf="selected !== 'new'"
          (click)="onDelete()">delete</mat-icon>
      </div>
      <div class="layout-bottom movement"
        matTooltip="Change Order - Move Down"
        (click)="onChangeSort('down')">
        <mat-icon *ngIf="showSortDown">arrow_drop_down</mat-icon>
      </div>
    </div>
  </div>
  <form [formGroup]="holidayForm" class="flexlayout column center">
    <div class="formField">
      <mat-radio-group formControlName="holtype" >
        <mat-radio-button value="H">Regular Holiday</mat-radio-button>
        <mat-radio-button value="F">Floater</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="formField">
      <mat-form-field appearance="fill">
        <mat-label>Holiday Name</mat-label>
        <input matInput formControlName="name"
          (blur)="onUpdate('name')">
        <mat-error *ngIf="holidayForm.controls['name'].hasError('required')"
          class="error">Required</mat-error>
      </mat-form-field>
    </div>
    <div class="employee active">Holiday Actual Dates</div>
    <div class="datelist">
      <div *ngFor="let date of actualDates"
        class="dates"
      >{{date.label}}</div>
    </div>
    <div class="flexlayout row center">
      <div class="formField">
        <mat-form-field appearance="fill">
          <mat-label>Holiday Actual Date</mat-label>
          <input matInput formControlName="actual" [matDatepicker]="picker"
            (dateChange)="onUpdate('actual')">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="flexlayout row center" 
      *ngIf="selected === 'new' && holidayForm.valid">
      <button mat-raised-button color="accent" (click)="onAdd()">Add</button>
    </div>
  </form>
</div>
