<div class="day" [style]="dayStyle()">
  <div class="dayOfMonth" [style]="dayOfWeekStyle()">
    {{leaveday.leavedate.getUTCDate()}}
  </div>
  <form [formGroup]="dayForm" class="flexlayout column center">
    <select matNativeControl formControlName="code" [style]="getCodeStyle()"
      (change)="changeCode()">
      <option value=""></option>
      @for (lc of workcodes; track lc) {
        <option [style]="optionStyle(lc.id)"
          [value]="lc.id">
          {{lc.id.toUpperCase()}}
        </option>
      }
    </select>
    <select matNativeControl formControlName="workcenter"
      [style]="getCodeStyle()" (change)="changeCode()">
      <option value=""></option>
      @for (lc of workcenters; track lc) {
        <option
          [style]="wkctrOptionStyle()"
          [value]="lc.id">
          {{lc.id.toUpperCase()}}
        </option>
      }
    </select>
    <input matNativeControl formControlName="hours"
      [style]="getHoursStyle()" (blur)="changeCode()">
  </form>
</div>