
<div class="flexlayout column topleft" >
  <div class="flexlayout row center">
    <form [formGroup]="editorForm" 
      class="flexlayout row topleft flexwrap flexgap">
      <div class="formField">
        <mat-form-field class="fieldWidth">
          <mat-label>Request Start</mat-label>
          <input matInput placeholder="Start Date"
              formControlName="start" (dateChange)="processChange('start')"
              [matDatepicker]="startpicker">
          <mat-hint>Include Time Off</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="startpicker"></mat-datepicker-toggle>
          <mat-datepicker #startpicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="formField">
        <mat-form-field class="fieldWidth">
          <mat-label>Request End</mat-label>
          <input matInput placeholder="End Date"
            formControlName="end" (dateChange)="processChange('end')"
            [matDatepicker]="endpicker">
          <mat-hint>Include Time Off</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="endpicker"></mat-datepicker-toggle>
          <mat-datepicker #endpicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="formField">
        <mat-form-field class="fieldWidth">
          <mat-label>Primary Leave Code</mat-label>
          <mat-select formControlName="primarycode"
            (selectionChange)="processChange('code')">
            <mat-option *ngFor="let wc of leaveList" [value]="wc.id">
              {{wc.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div> 
    </form>
    <div class="flexlayout column center">
      <button mat-icon-button color="accent"
        *ngIf="request && request.id !== '' && !approver"
        matTooltip="Delete Current Leave Request"
        (click)="deleteRequest()">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button
        matTooltip="Clear editor"
        (click)="clearRequest()">
        <mat-icon>deselect</mat-icon>
      </button>
    </div>
  </div>
  <ng-container *ngIf="request && request.id !== ''">
    <ng-container *ngIf="appState.isMobile()">
      <div class="flexlayout row center">
        <div class="fxLayout-column-center" style="padding-bottom: 10px;">
          <div class="fxLayout-row-center">
            <div class="label">Created On:</div>
            <div class="label">{{getCurrentLeaveRequestDate()}}</div>
          </div>
          <div class="fxLayout-row-center">
            <div class="label">Current Status:</div>
            <div class="label">{{request.status.toUpperCase()}}</div>
          </div>
          <div class="fxLayout-row-center">
            <div class="label">Approved By:</div>
            <div class="label">{{getApprovedBy()}}</div>
          </div>
          <div class="fxLayout-row-center">
            <div class="label">Approval Date:</div>
            <div class="label">{{getApprovedDate()}}</div>
          </div>
          <div class="fxLayout-row-center">
            <div class="label">PTO Hours</div>
            <div class="label">{{ptohours}}</div>
          </div>
          <div class="fxLayout-row-center">
            <div class="label">Holiday Hours</div>
            <div class="label">{{holidayhours}}</div>
          </div>
        </div>
        <div class="flexlayout column center" style="gap: 5px;">
          <div class="flexlayout row center" *ngIf="draft" style="padding-left: 50px;">
            <button mat-raised-button color="accent" 
              matTooltip="Submit for Approval"
              (click)="submitForApproval()">
              Submit for Approval
            </button>
          </div>
          <div class="flexlayout row center" *ngIf="approver" style="padding-left: 50px;">
            <button mat-raised-button color="accent" 
              matTooltip="Supervisor Approve Leave Request"
              (click)="approveLeaveRequest()">
              Approve Request
            </button>
          </div>
          <div class="flexlayout row center" *ngIf="approver" style="padding-left: 50px;">
            <button mat-raised-button color="warn" 
              matTooltip="Supervisor Un-Approve Leave Request"
              (click)="unapproveLeaveRequest()">
              Un-Approve Request
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!appState.isMobile()">
      <div class="flexlayout row center" style="padding-bottom: 10px;">
        <div class="flexlayout column center">
          <div class="label">Created On:</div>
          <div class="label">{{getCurrentLeaveRequestDate()}}</div>
        </div>
        <div class="flexlayout column center">
          <div class="label">Current Status:</div>
          <div class="label">{{request.status.toUpperCase()}}</div>
        </div>
        <div class="flexlayout column center">
          <div class="label">Approved By:</div>
          <div class="label">{{getApprovedBy()}}</div>
        </div>
        <div class="flexlayout column center">
          <div class="label">Approval Date:</div>
          <div class="label">{{getApprovedDate()}}</div>
        </div>
        <div class="flexlayout column center">
          <div class="label">PTO Hours</div>
          <div class="label">{{ptohours}}</div>
        </div>
        <div class="flexlayout column centerr">
          <div class="label">Holiday Hours</div>
          <div class="label">{{holidayhours}}</div>
        </div>
      </div>
      <div class="flexlayout column center" style="gap: 5px;">
        <div class="flexlayout row center" *ngIf="draft" style="padding-left: 50px;">
          <button mat-raised-button color="accent" 
            matTooltip="Submit for Approval"
            (click)="submitForApproval()">
            Submit for Approval
          </button>
        </div>
        <div class="flexlayout row center" *ngIf="approver" style="padding-left: 50px;">
          <button mat-raised-button color="accent" 
            matTooltip="Supervisor Approve Leave Request"
            (click)="approveLeaveRequest()">
            Approve Request
          </button>
        </div>
        <div class="flexlayout row center" *ngIf="approver" style="padding-left: 50px;">
          <button mat-raised-button color="warn" 
            matTooltip="Supervisor Un-Approve Leave Request"
            (click)="unapproveLeaveRequest()">
            Un-Approve Request
          </button>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <div class="comments" *ngIf="request && request.comments.length > 0"
    [style]="commentsWidth()">
    <div *ngFor="let cmt of request.comments">
      <div>{{cmt.getDate()}} - {{cmt.comment}}</div>
    </div>
  </div>
  <div class="fxLayout-row-center" *ngIf="request && request.id !== ''">
    <app-leave-request-calendar [leaveCodes]="leaveList" 
      [startdate]="request.startdate"
      [enddate]="request.enddate"
      [leavedays]="request.requesteddays"
      (changed)="processDayChange($event)">
    </app-leave-request-calendar>
  </div>
</div>
