<div class="overall">
  <div class="columns">
    <div class="name" [style]="nameCellStyle(undefined)">&nbsp;</div>
    <div class="name" [style]="nameCellStyle(undefined)">NAME</div>
    @if (workcenter.positions && workcenter.positions.length > 0) {
      @for (pos of workcenter.positions; track pos) {
        @if (pos.employees && pos.employees.length > 0) {
          @for (emp of pos.employees; track emp) {
            <div class="name" [style]="nameCellStyle(emp)"
              >
              {{emp.name.getLastFirst()}}
            </div>
          }
        }
      }
    }
    @if (workcenter.shifts && workcenter.shifts.length > 0) {
      @for (pos of workcenter.shifts; track pos) {
        @if (pos.employees && pos.employees.length > 0) {
          @for (emp of pos.employees; track emp) {
            <div class="name" [style]="nameCellStyle(emp)"
              >
              {{emp.name.getLastFirst()}}
            </div>
          }
        }
      }
    }
  </div>
  <div class="columns overflowx" [style]="daysStyle()">
    <!-- the first two rows of this section are the date headers of date
    number and weekday for the date -->
    <app-site-schedule-month-days [workcodes]="workcodes" [dates]="monthDays"
    [viewtype]="'label'" [width]="width"></app-site-schedule-month-days>
    <app-site-schedule-month-days [workcodes]="workcodes" [dates]="monthDays"
    [viewtype]="'day'" [width]="width"></app-site-schedule-month-days>
    @if (workcenter.positions && workcenter.positions.length > 0) {
      @for (pos of workcenter.positions; track pos) {
        @if (pos.employees && pos.employees.length > 0) {
          @for (emp of pos.employees; track emp) {
            <app-site-schedule-month-days [workcodes]="workcodes"
              [dates]="monthDays" [viewtype]="(emp.even) ? 'even' : 'odd'"
              [employee]="emp" [width]="width">
            </app-site-schedule-month-days>
          }
        }
      }
    }
    @if (workcenter.shifts && workcenter.shifts.length > 0) {
      @for (pos of workcenter.shifts; track pos) {
        @if (pos.employees && pos.employees.length > 0) {
          @for (emp of pos.employees; track emp) {
            <app-site-schedule-month-days [workcodes]="workcodes"
              [dates]="monthDays" [viewtype]="(emp.even) ? 'even' : 'odd'"
              [employee]="emp" [width]="width">
            </app-site-schedule-month-days>
          }
        }
      }
    }
  </div>
</div>
