.main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.date {
  display: flex;
  flex: 17 17 153px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
  font-weight: bold;
}

.category {
  display: flex;
  flex: 12 12 108px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
  font-weight: bold;
}

.title {
  display: flex;
  flex: 15 15 135px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
  font-weight: bold;
}

.message {
  display: flex;
  flex: 56 56 504px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 12pt;
  font-weight: bold;
}