<div class="flexlayout column topleft">
  <div class="flexlayout row topleft" style="width: 100%; margin-top: 5px;">
    <div class="headline">Assignments</div>
    <div class="flex-spacer"></div>
    <div>
      <button mat-icon-button color="warn" *ngIf="assignment.id !== 0"
        matTooltip="Delete selected assignment" (click)="deleteAssignment()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="flexlayout column topcenter">
    <div class="flexlayout column topcenter" 
      style="border: solid white 1px;margin: 5px;">
      <form [formGroup]="asgmtForm">
        <div class="fxLayout-column-center" style="width: 99%;">
          <mat-form-field class="fieldWidthWide">
            <mat-label>Select Assignment</mat-label>
            <mat-select formControlName="assignment"
              (selectionChange)="selectAssignment()">
              <mat-option value="0">New Assignment</mat-option>
              <mat-option *ngFor="let asgt of assignmentList"
                [value]="asgmtID(asgt)">({{site.id.toUpperCase()}}) 
                {{getDateString(asgt.startDate)}}-{{getDateString(asgt.endDate)}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="fxLayout-row-center">
            <div class="formField">
              <mat-form-field class="fieldWidth">
                <mat-label>Assignment Workcenter</mat-label>
                <mat-select formControlName="workcenter" 
                  (selectionChange)="updateField('workcenter')">
                  <mat-option value=""></mat-option>
                  <mat-option *ngFor="let wkctr of workcenters"
                    [value]="wkctr.id">{{wkctr.name.toUpperCase()}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="formField">
              <mat-form-field class="fieldWidth">
                <mat-label>Assignment Start</mat-label>
                <input matInput [matDatepicker]="startpicker"
                  formControlName="startdate" 
                  (dateChange)="updateField('startdate')">
                <mat-datepicker-toggle matIconSuffix [for]="startpicker"></mat-datepicker-toggle>
                <mat-datepicker #startpicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="formField" *ngIf="showSchedule">
              <mat-form-field class="fieldWidth">
                <mat-label>Assignment End Date</mat-label>
                <input matInput [matDatepicker]="endpicker"
                  formControlName="enddate" 
                  (dateChange)="updateField('enddate')">
                <mat-datepicker-toggle matIconSuffix [for]="endpicker"></mat-datepicker-toggle>
                <mat-datepicker #endpicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <ng-container *ngIf="!showSchedule">
            <div class="fxLayout-row-center">
              <button mat-raised-button color="accent"
                (click)="addAssignment()">Add</button>
              <button mat-raised-button color="warn"
                (click)="clearAssignment()">Clear</button>
            </div>
          </ng-container>
          <ng-container *ngIf="showSchedule">
            <div class="fxLayout-row-center" *ngIf="showSchedule">
              <div class="formField">
                <mat-form-field class="fieldWidth">
                  <mat-label>Select Schedule</mat-label>
                  <mat-select formControlName="schedule"
                  (selectionChange)="changeSchedule()">
                    <mat-option *ngFor="let sch of assignment.schedules"
                      [value]="schedID(sch)">
                      Schedule {{sch.id}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <button mat-mini-fab color="accent" style="margin-right: 5px;"
                matTooltip="Add new schedule"
                (click)="updateField('addschedule')">
                <mat-icon>add</mat-icon>
              </button>
              <ng-container *ngIf="assignment.schedules.length > 1">
                <div class="formField">
                  <mat-form-field class="fieldWidth">
                    <mat-label>Rotation Date</mat-label>
                    <input matInput [matDatepicker]="rotatepicker"
                      formControlName="rotationdate" 
                      (dateChange)="updateField('rotationdate')">
                    <mat-hint>Date Base for rotation</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="rotatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #rotatepicker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="formField">
                  <mat-form-field class="fieldWidth">
                    <mat-label>Rotation Days</mat-label>
                    <input matInput type="number" step="7" min="0" max="336" 
                      formControlName="rotationdays" 
                      (change)="updateField('rotationdays')">
                  </mat-form-field>
                </div>
              </ng-container>
            </div>
            <app-site-employees-assignment-schedule [schedule]="schedule"
            [site]="site"
            (change)="updateSchedule($event)">
            </app-site-employees-assignment-schedule>
          </ng-container>
        </div>
      </form>
    </div>
    <div class="flexlayout column topcenter" 
      style="background-color: white;margin: 5px;"
      *ngIf="showSchedule">
      <div style="background-color: red;color: white;">
        Assignment Labor Codes
      </div>
      <div class="list">
        <div *ngFor="let lc of laborcodes">
          <mat-checkbox [checked]="lc.checked"
            (change)="onSelect(lc.chargenumber, lc.extension, $event)">
            {{lc.chargenumber}} - {{lc.extension}}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
</div>
