<div class="fxLayout flexlayout column center">
  <mat-card style="background-color: #673ab7; color: white;">
    <mat-card-header>
      <div class="flexlayout row center">
        <div class="flexlayout column topleft">
          <div class="headline">Site Forecast Reports Editor</div>
          <div class="subheadline">Site: {{site.name}}</div>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content style="padding-right: 25px;">
      <div class="flexlayout row top" style="gap: 20px;">
        <div class="flexlayout column topleft">
          <div class="flexlayout row center" style="width: 100%;">
            <h3>Forecast Report List</h3>
            <span class="flex-spacer"></span>
            <button mat-icon-button color="accent"
              *ngIf="selected !== 'new' && selected !== ''"
              (click)="onDeleteReport()"
              matTooltip="Delete selected forecast report">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div class="flexlayout row topcenter">
            <div class="list">
              <div *ngFor="let item of reports"
              (click)="onSelectReport(item.id)"
              [class]="getButtonStyle(item.id)"
              >{{item.label}}</div>
            </div>
          </div>
          <div style="width: 100%;padding-top: 10px;">
            <form [formGroup]="reportForm" class="fxLayout-column-center">
              <div class="formFieldWider">
                <mat-form-field appearance="fill" class="extraWideField">
                  <mat-label>Associated Company</mat-label>
                  <mat-select formControlName="companyid"
                    (selectionChange)="onChange('companyid')">
                    <mat-option *ngFor="let co of companyList" [value]="co.id">
                      {{co.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="reportForm.controls['companyid'].hasError('required')"
                    class="error">Company Required</mat-error>
                </mat-form-field>
              </div>
              <div class="formFieldWider">
                <mat-form-field appearance="fill" class="extraWideField">
                  <mat-label>Forecast Report Name</mat-label>
                  <input matInput formControlName="name" (blur)="onChange('name')">
                  <mat-error *ngIf="reportForm.controls['name'].hasError('required')"
                    class="error">Name Required</mat-error>
                </mat-form-field>
              </div>
              <div class="formFieldWider">
                <mat-form-field appearance="fill">
                  <mat-label>Report date range</mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate formControlName="start" 
                      placeholder="Start date" (dateChange)="onChange('start')">
                    <input matEndDate formControlName="end" 
                      placeholder="End date" (dateChange)="onChange('end')">
                  </mat-date-range-input>
                  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                  <mat-error *ngIf="reportForm.controls['start'].hasError('required')">Invalid start date</mat-error>
                  <mat-error *ngIf="reportForm.controls['end'].hasError('required')">Invalid end date</mat-error>
                </mat-form-field>
              </div>
              <div class="flexlayout column topleft" style="padding-top: 5px;">
                <div>Select Sub-Period Ending Day:</div>
                <mat-radio-group formControlName="period" 
                  (change)="onChange('period')"
                  class="flexlayout column center" 
                  style="background-color: white;border: black 1px solid;padding-right:10px;">
                  <div class="flexlayout row center">
                    <mat-radio-button value="0">Sunday</mat-radio-button>
                    <mat-radio-button value="1">Monday</mat-radio-button>
                    <mat-radio-button value="2">Tuesday</mat-radio-button>
                    <mat-radio-button value="3">Wednesday</mat-radio-button>
                  </div>
                  <div class="flexlayout row center">
                    <mat-radio-button value="4">Thursday</mat-radio-button>
                    <mat-radio-button value="5">Friday</mat-radio-button>
                    <mat-radio-button value="6">Saturday</mat-radio-button>
                  </div>
                </mat-radio-group>
              </div>
              <div class="fxLayout-row-center" style="gap: 10px;">
                <button mat-raised-button color="accent"
                  *ngIf="this.reportForm.valid && this.selected === 'new'"
                  (click)="onAddReport()">Add</button>
                  <button mat-raised-button color="warn"
                    *ngIf="this.reportForm.valid && this.selected === 'new'">Clear</button>
              </div>
            </form>
          </div>
        </div>
        <app-site-forecast-report-periods [site]="site" [report]="report"
          *ngIf="selected !== 'new'">
        </app-site-forecast-report-periods>
        <app-site-forecast-report-labor-codes
          [site]="site" [report]="report"
          *ngIf="selected !== 'new'">
        </app-site-forecast-report-labor-codes>
      </div>
    </mat-card-content>
  </mat-card>
</div>
