.headline {
  font-size: 16pt;
  font-weight: bold;
  margin-bottom: 5px;
}

.subheadline {
  font-size: 16pt;
  font-weight: bold;
  color: cyan;
  margin-bottom: 5px;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}