<div class="flexlayout column topleft">
  <form [formGroup]="asgmtForm" class="flexlayout column topcenter">
    <div class="flexlayout row topleft">
      <mat-form-field class="fieldWidthWide">
        <mat-label>Select Assignment</mat-label>
        <mat-select formControlName="assignment"
          (selectionChange)="selectAssignment()">
          <mat-option value="0">New Assignment</mat-option>
          @for (asgt of assignmentList; track asgt) {
            <mat-option
              [value]="asgmtID(asgt)">({{site.id.toUpperCase()}})
              {{getUTCDateString(asgt.startDate)}}-{{getUTCDateString(asgt.endDate)}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      @if (assignment.id !== 0) {
        <button mat-icon-button color="warn"
          matTooltip="Delete selected assignment" (click)="deleteAssignment()">
          <mat-icon>delete</mat-icon>
        </button>
      }
    </div>
    <div class="flexlayout row topleft flexgap">
      <mat-form-field class="fieldWidth">
        <mat-label>Assignment Workcenter</mat-label>
        <mat-select formControlName="workcenter"
          (selectionChange)="updateField('workcenter')">
          <mat-option value=""></mat-option>
          @for (wkctr of workcenters; track wkctr) {
            <mat-option
            [value]="wkctr.id">{{wkctr.name.toUpperCase()}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="fieldWidth">
        <mat-label>Assignment Start</mat-label>
        <input matInput [matDatepicker]="startpicker"
          formControlName="startdate"
          (dateChange)="updateField('startdate')">
        <mat-datepicker-toggle matIconSuffix [for]="startpicker"></mat-datepicker-toggle>
        <mat-datepicker #startpicker></mat-datepicker>
      </mat-form-field>
      @if (showSchedule) {
        <mat-form-field class="fieldWidth">
          <mat-label>Assignment End Date</mat-label>
          <input matInput [matDatepicker]="endpicker"
            formControlName="enddate"
            (dateChange)="updateField('enddate')">
          <mat-datepicker-toggle matIconSuffix [for]="endpicker"></mat-datepicker-toggle>
          <mat-datepicker #endpicker></mat-datepicker>
        </mat-form-field>
      }
    </div>
    @if (!showSchedule) {
      <div class="flexlayout row topleft">
        <button mat-raised-button color="accent"
        (click)="addAssignment()">Add</button>
        <button mat-raised-button color="warn"
        (click)="clearAssignment()">Clear</button>
      </div>
    }
    @if (showSchedule) {
      <div class="flexlayout row center">
        <mat-form-field class="fieldWidth">
          <mat-label>Select Schedule</mat-label>
          <mat-select formControlName="schedule"
            (selectionChange)="changeSchedule()">
            @for (sch of assignment.schedules; track sch) {
              <mat-option
                [value]="schedID(sch)">
                Schedule {{sch.id}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <button mat-mini-fab color="accent" style="margin-right: 5px;"
          matTooltip="Add new schedule"
          (click)="updateField('addschedule')">
          <mat-icon>add</mat-icon>
        </button>
        @if (assignment.schedules.length > 1) {
          <div class="formField">
            <mat-form-field class="fieldWidth">
              <mat-label>Rotation Date</mat-label>
              <input matInput [matDatepicker]="rotatepicker"
                formControlName="rotationdate"
                (dateChange)="updateField('rotationdate')">
              <mat-hint>Date Base for rotation</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="rotatepicker"></mat-datepicker-toggle>
              <mat-datepicker #rotatepicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="formField">
            <mat-form-field class="fieldWidth">
              <mat-label>Rotation Days</mat-label>
              <input matInput type="number" step="7" min="0" max="336"
                formControlName="rotationdays"
                (change)="updateField('rotationdays')">
            </mat-form-field>
          </div>
        }
      </div>
    }
    <app-site-employees-assignment-schedule [schedule]="schedule"
      [site]="site" [width]="width"
      (change)="updateSchedule($event)">
    </app-site-employees-assignment-schedule>
  </form>
  @if (showSchedule) {
    <div class="flexlayout column topcenter"
      style="background-color: white;margin: 5px;"
      >
      <div style="background-color: red;color: white;">
        Assignment Labor Codes
      </div>
      <div class="flexlayout row topleft list">
        @for (lc of laborcodes; track lc) {
          <div>
            <mat-checkbox [checked]="lc.checked"
              (change)="onSelect(lc.chargenumber, lc.extension, $event)">
              {{lc.chargenumber}} - {{lc.extension}}
            </mat-checkbox>
          </div>
        }
      </div>
    </div>
  }
</div>
