<div class="toplevel">
  <div class="calendarDiv flexlayout column topleft"
    [style]="getCalendarStyle()">
    <div class="labelDiv flexlayout row left">Site Schedule</div>
    <div class="calendar">
      <app-site-schedule-month></app-site-schedule-month>
    </div>
  </div>
  <div class="legendDiv flexlayout column topleft"
    [style]="getLegendStyle()">
    <div class="labelDiv flexlayout row left">Code Legend</div>
    <div class="calendar">
      <app-site-schedule-legend></app-site-schedule-legend>
    </div>
  </div>
</div>