<div class="fxLayout-column-center">
  <div class="fxLayout-row-center">
    <div class="direction" (click)="changeMonth('down', 'year')">&lt;&lt;</div>
    <div class="direction" (click)="changeMonth('down', 'month')">&lt;</div>
    <div class="month" [style]="monthStyle">
      <form [formGroup]="monthForm" class="flexlayout row center flexgap">
        <select class="monthSelect" (change)="selectMonth()" 
          formControlName="month">
          <option *ngFor="let m of months;let i = index" [value]="i"
            class="monthSelectOption">
            {{m}}
          </option>
        </select>
        <input type="number" (change)="selectMonth()" formControlName="year"
        class="yearSelect">
      </form>
    </div>
    <div class="direction" (click)="changeMonth('up', 'month')">&gt;</div>
    <div class="direction" (click)="changeMonth('up', 'year')">&gt;&gt;</div>
  </div>
  <div class="fxLayout-row-center">
    <div class="name">&nbsp;</div>
    <div *ngFor="let dt of dates" class="day" [style]="getDateSyyle(dt)">
      {{dt.getUTCDate()}}
    </div> 
  </div>
  <div class="fxLayout-row-center">
    <div class="name">Name</div>
    <div *ngFor="let dt of dates" class="day" [style]="getDateSyyle(dt)">
      {{weekdays[dt.getUTCDay()]}}
    </div> 
  </div>
  <ng-container *ngFor="let wkctr of workcenters">
    <div class="workcenter" [style]="wkctrStyle">{{wkctr.name.toUpperCase()}}</div>
    <ng-container *ngFor="let pos of wkctr.positions; let i = index">
      <app-site-schedule-row *ngFor="let emp of pos.employees"
        [employee]="emp" [index]="(emp.even) ? 0 : 1" [month]="month" 
        [lastWorked]="getLastWorked(emp)"
      ></app-site-schedule-row>
    </ng-container>
    <ng-container *ngFor="let sft of wkctr.shifts">
      <ng-container *ngIf="showShift(sft.id)">
        <app-site-schedule-row *ngFor="let emp of sft.employees; let i = index"
          [employee]="emp" [index]="(emp.even) ? 0 : 1" [month]="month" 
          [lastWorked]="getLastWorked(emp)">
        </app-site-schedule-row>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="wkctr.employees && wkctr.employees.length > 0">
      <app-site-schedule-row *ngFor="let emp of wkctr.employees; let i = index"
      [employee]="emp" [index]="(emp.even) ? 0 : 1" [month]="month" 
      [lastWorked]="getLastWorked(emp)">
    </app-site-schedule-row>
    </ng-container>
  </ng-container>
</div>
