<div class="flexlayout column center">
  <div class="flexlayout row center">
    <div class="movement" [style]="getMoveStyle()"
    (click)="changeMonth('down', 'year')">&lt;&lt;</div>
    <div class="movement"  [style]="getMoveStyle()"
    (click)="changeMonth('down', 'month')">&lt;</div>
    <div class="month" [style]="getUTCMonthStyle()">{{monthLabel}}</div>
    <div class="movement"  [style]="getMoveStyle()"
    (click)="changeMonth('up', 'month')">&gt;</div>
    <div class="movement"  [style]="getMoveStyle()"
    (click)="changeMonth('up', 'year')">&gt;&gt;</div>
  </div>
  <div class="flexlayout row center">
    <div class="daycell weekend" [style]="getUTCDayStyle()">SUN</div>
    <div class="daycell weekday" [style]="getUTCDayStyle()">MON</div>
    <div class="daycell weekday" [style]="getUTCDayStyle()">TUE</div>
    <div class="daycell weekday" [style]="getUTCDayStyle()">WED</div>
    <div class="daycell weekday" [style]="getUTCDayStyle()">THU</div>
    <div class="daycell weekday" [style]="getUTCDayStyle()">FRI</div>
    <div class="daycell weekend" [style]="getUTCDayStyle()">SAT</div>
  </div>
  @for (week of workweeks; track week) {
    <div class="flexlayout row center">
      @for (day of week.getWorkdays(); track day) {
        <app-employee-schedule-day
          [workday]="day" [month]="month" [width]="getCellWidth()"
        [workcenters]="workcenters"></app-employee-schedule-day>
      }
    </div>
  }
</div>