<div class="toplevel">
  <div class="editor">
    <form [formGroup]="editorForm" class="flexlayout column topleft">
      <div class="flexlayout row center flexgap">
        <mat-form-field appearance="fill" [style]="inputStyle('start')">
          <mat-label>Request Start</mat-label>
          <input matInput placeholder="Start Date" [style]="inputStyle('start')"
            formControlName="start" (dateChange)="processChange('start')"
            [matDatepicker]="startpicker">
          <mat-datepicker-toggle matIconSuffix [for]="startpicker"></mat-datepicker-toggle>
          <mat-datepicker #startpicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" [style]="inputStyle('end')">
          <mat-label>Request End</mat-label>
          <input matInput placeholder="End Date" [style]="inputStyle('end')"
            formControlName="end" (dateChange)="processChange('end')"
            [matDatepicker]="endpicker">
          <mat-datepicker-toggle matIconSuffix [for]="endpicker"></mat-datepicker-toggle>
          <mat-datepicker #endpicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" [style]="inputStyle('primarycode')">
          <mat-label>Primary Leave Code</mat-label>
          <mat-select formControlName="primarycode" [style]="inputStyle('primarycode')"
            (selectionChange)="processChange('code')">
            @for (wc of leavecodes; track wc) {
              <mat-option [value]="wc.id">
                {{wc.title}}
              </mat-option>
            }
            <mat-option value="mod">Mod Time</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="flexlayout column center" [style]="inputStyle('buttons')">
          @if (request && request.id !== '' && !approver) {
            <button mat-icon-button color="accent"
              matTooltip="Delete Current Leave Request"
              (click)="deleteRequest()">
              <mat-icon [style]="inputStyle('button')">delete</mat-icon>
            </button>
          }
          <button mat-icon-button
            matTooltip="Clear editor"
            (click)="clearRequest()">
            <mat-icon [style]="inputStyle('button')">deselect</mat-icon>
          </button>
        </div>
      </div>
      <div class="flexlayout row center flexgap">
        <div>New Comment:</div>
        <div>
          <input matNativeControl formControlName="comment" [style]="inputStyle('comment')">
        </div>
        <div class="flexlayout column center">
          <mat-icon class="icon" [style]="inputStyle('button')"
            matTooltip="click to add new comment"
            (click)="processChange('comment')">
            add
          </mat-icon>
        </div>
      </div>
      @if (request && request.comments.length > 0) {
        <div class="comments" [style]="commentsStyle()"
          >
          @for (cmt of request.comments; track cmt) {
            <div>
              {{datetimeString(cmt.commentdate)}} - {{cmt.comment}}
            </div>
          }
        </div>
      }
    </form>
    @if (request && request.id !== '') {
      @if (appState.isMobile()) {
        <div class="flexlayout row center">
          <div class="flexlayout column center" style="padding-bottom: 10px;">
            <div class="flexlayout row center">
              <div class="label">Created On:</div>
              <div class="label">{{getCurrentLeaveRequestDate()}}</div>
            </div>
            <div class="flexlayout row center">
              <div class="label">Current Status:</div>
              <div class="label">{{request.status.toUpperCase()}}</div>
            </div>
            <div class="flexlayout row center">
              <div class="label">Approved By:</div>
              <div class="label">{{getApprovedBy()}}</div>
            </div>
            <div class="flexlayout row center">
              <div class="label">Approval Date:</div>
              <div class="label">{{getApprovedDate()}}</div>
            </div>
            <div class="flexlayout row center">
              <div class="label">PTO Hours</div>
              <div class="label">{{ptohours}}</div>
            </div>
            <div class="flexlayout row center">
              <div class="label">Holiday Hours</div>
              <div class="label">{{holidayhours}}</div>
            </div>
          </div>
          <div class="flexlayout row center" style="gap: 5px;">
            @if (draft) {
              <div class="flexlayout row center" style="padding-left: 50px;">
                <button mat-raised-button color="accent"
                  matTooltip="Submit for Approval"
                  (click)="submitForApproval()">
                  Submit for Approval
                </button>
              </div>
            }
            @if (approver) {
              <div class="flexlayout row center" style="padding-left: 50px;">
                <button mat-raised-button color="accent"
                  matTooltip="Supervisor Approve Leave Request"
                  (click)="approveLeaveRequest()">
                  Approve Request
                </button>
              </div>
            }
            @if (approver) {
              <div class="flexlayout row center" style="padding-left: 50px;">
                <button mat-raised-button color="warn"
                  matTooltip="Supervisor Un-Approve Leave Request"
                  (click)="unapproveLeaveRequest()">
                  Un-Approve Request
                </button>
              </div>
            }
          </div>
        </div>
      }
      @if (!appState.isMobile()) {
        <div class="flexlayout row center" style="padding-bottom: 10px;">
          <div class="flexlayout column center">
            <div class="label">Created On:</div>
            <div class="label">{{getCurrentLeaveRequestDate()}}</div>
          </div>
          <div class="flexlayout column center">
            <div class="label">Current Status:</div>
            <div class="label">{{request.status.toUpperCase()}}</div>
          </div>
          <div class="flexlayout column center">
            <div class="label">Approved By:</div>
            <div class="label">{{getApprovedBy()}}</div>
          </div>
          <div class="flexlayout column center">
            <div class="label">Approval Date:</div>
            <div class="label">{{getApprovedDate()}}</div>
          </div>
          <div class="flexlayout column center">
            <div class="label">PTO Hours</div>
            <div class="label">{{ptohours}}</div>
          </div>
          <div class="flexlayout column centerr">
            <div class="label">Holiday Hours</div>
            <div class="label">{{holidayhours}}</div>
          </div>
        </div>
        <div class="flexlayout row center" style="gap: 5px;">
          @if (draft) {
            <div class="flexlayout row center" style="padding-left: 50px;">
              <button mat-raised-button color="accent"
                matTooltip="Submit for Approval"
                (click)="submitForApproval()">
                Submit for Approval
              </button>
            </div>
          }
          @if (approver) {
            <div class="flexlayout row center" style="padding-left: 50px;">
              <button mat-raised-button color="accent"
                matTooltip="Supervisor Approve Leave Request"
                (click)="approveLeaveRequest()">
                Approve Request
              </button>
            </div>
          }
          @if (approver) {
            <div class="flexlayout row center" style="padding-left: 50px;">
              <button mat-raised-button color="warn"
                matTooltip="Supervisor Un-Approve Leave Request"
                (click)="unapproveLeaveRequest()">
                Un-Approve Request
              </button>
            </div>
          }
        </div>
      }
    }
    @if (request && request.id !== '' && request.primarycode !== 'mod') {
      <app-employee-leave-request-editor-calendar
        [request]="request" [leavecodes]="leavecodes" [width]="width"
        [height]="viewHeight()" (changed)="onDayChange($event)">
      </app-employee-leave-request-editor-calendar>
    }
    @if (request && request.id !== '' && request.primarycode === 'mod') {
      <app-employee-leave-request-editor-modtime-calendar
        [request]="request" [width]="width"
        [height]="viewHeight()" (changed)="onDayChange($event)">
      </app-employee-leave-request-editor-modtime-calendar>
    }
  </div>
  <div class="legend">
    @if (request && request.id !== '') {
      <app-employee-leave-request-editor-legend
        [leavecodes]="leavecodes" [width]="width">
      </app-employee-leave-request-editor-legend>
    }
  </div>
</div>
