<div class="fxLayout fxLayout-column-center">
  <mat-card style="background-color: #673ab7; color: white;">
      <mat-card-header style="text-align: center;">
          <mat-card-title>
              <div class="mat-headline">Team's Specialty Types</div>
              </mat-card-title>
      </mat-card-header>
      <mat-card-content class="fxLayout-column-center">
        <div class="flexlayout column center">
          <form class="flexlayout row center" style="border:solid 1px black;"
            [formGroup]="contactForm">
            <div class="flexlayout row center" style="width: 400px;;">
              <mat-form-field appearance="fill" style="width: 390px;">
                <mat-label>Specialty Type</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="" class="error">Required</mat-error>
              </mat-form-field>
            </div>
            <div class="flexlayout row center" style="width: 100px;">
              <button mat-raised-button color="accent" (click)="addContactType()">
                {{buttonText}}
              </button>
            </div>
          </form>
          <div class="flexlayout row topcenter">
            <div class="list">
              <div *ngFor="let item of specialties"
              (click)="onSelect(item.id)"
              [class]="getButtonStyle(item.id)"
              >{{item.label}}</div>
            </div>
            <div class="layout-stretch sortdiv">
              <div class="layout-top movement"
                matTooltip="Change Order - Move Up"
                (click)="onChangeSort('up')">
                <mat-icon *ngIf="showSortUp">arrow_drop_up</mat-icon>
              </div>
              <div class="flexlayout column center deleteDiv"
                matTooltip="Delete selected specialty type">
                <mat-icon *ngIf="selectedId !== '0'"
                  (click)="onDelete()">delete</mat-icon>
              </div>
              <div class="layout-bottom movement"
                matTooltip="Change Order - Move Down"
                (click)="onChangeSort('down')">
                <mat-icon *ngIf="showSortDown">arrow_drop_down</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
  </mat-card>
</div>
