.list {
  text-align: center;
  vertical-align: top;
  padding: 0;
  margin: 0;
  width: 390px;
  min-height: 750px;
  max-height: 750px;
  border: solid 1px black;
  overflow-y: auto;
}

.employee {
  display: flex;
  width: 388px;
  min-height: 30px !important;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
  font-weight: bold;
  background-color: white;
  color: black;
  border: solid 1px black;
}

.employee:hover, .active:hover {
  display: flex;
  width: 388px;
  min-height: 30px !important;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
  font-weight: bold;
  background-color: lightblue;
  color: black;
  border: solid 1px black;
}

.active {
  background-color: #673ab7;
  color: white;
}

.colors {
  text-align:center;
  width: 90%;
  font-size: 12pt;
}

.layout-stretch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.layout-top {
  align-items: flex-start;
}

.layout-bottom {
  align-items: flex-end;
}

.sortdiv {
  height: 750px;
  width: 25px;
  font-size: 12pt;
  font-weight: bold;
  color: white;
  border: solid 1px white;
}

.movement {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 12pt;
  font-weight: bold;
  height: 350px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.deleteDiv {
  color: pink;
  font-size: pt;
  font-weight: 12bold;
  height: 50px;
  margin: 0;
  padding: 0;
}