<div class="fxLayout fxLayout-column-center">
  <mat-card style="background-color: #673ab7; color: white;">
      <mat-card-header>
        <div class="fxLayout-row-center">
          <div class="fxLayout-column-topleft">
            <div class="headline">Employee's Email/Name/Password Editor</div>
            <div class="subheadline">{{employee.name.getFullName()}}</div>
          </div>
          <span class="flex-spacer"></span>
          <button mat-icon-button color="accent"
            *ngIf="this.employee.id !== ''"
            matTooltip="Delete Current Employee"
            (click)="deleteEmployee()">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content class="fxLayout-column-center">
        <app-employee-profile-form [employee]="employee"
          (changed)="employeeChanged($event)">
        </app-employee-profile-form>
        <div class="fxLayout-row-center">
          User Authentication/Permissions
        </div>
        <div class="fxLayout-row-center">
          <button mat-raised-button color="accent" style="margin: 5px;"
            *ngIf="employee.user && employee.user.isLocked()"
            (click)="unlockUser()">
            Unlock Account</button>
          <button mat-raised-button color="warn" style="margin: 5px;"
            *ngIf="!employee.user" (click)="addUserAccount()">
            Create Authentication Account</button>
        </div>
        <div class="fxLayout-column-center" *ngIf="employee.user"
        style="background-color: white; color: black;">
          <form [formGroup]="permForm">
            <div class="fxLayout-column-topleft">
              <h4>User's Permissions</h4>
              <div class="fxLayout-row-center">
                <mat-checkbox formControlName="employee"
                  (change)="updatePermission('employee')">Employee</mat-checkbox>
                <mat-checkbox formControlName="scheduler" 
                  (change)="updatePermission('scheduler')">Site Scheduler</mat-checkbox>
                <mat-checkbox formControlName="company"  
                  (change)="updatePermission('company')">Site Company Lead</mat-checkbox>
              </div>
              <div class="fxLayout-row-center">
                <mat-checkbox formControlName="siteleader" 
                  (change)="updatePermission('siteleader')">Site Leader</mat-checkbox>
                <mat-checkbox formControlName="teamleader" 
                  *ngIf="authService.isAdmin || authService.isTeamLeader" 
                  (change)="updatePermission('teamleader')">Team Leader</mat-checkbox>
                <mat-checkbox formControlName="admin" 
                  *ngIf="authService.isAdmin" 
                  (change)="updatePermission('admin')">Application Admin</mat-checkbox>
              </div>
            </div>
          </form>
        </div>
      </mat-card-content>
  </mat-card>
</div>
