<div class="toplevel">
  <div class="flexlayout column center flexgap">
    <form class="flexlayout row center flexgap" [formGroup]="archiveForm" >
      <div class="flexlayout row center" style="font-size: 1.2rem;">Display Options:</div>
      <mat-form-field appearance="fill">
        <mat-label>Report Type(s)</mat-label>
        <mat-select formControlName="rptType" multiple="true"
          (selectionChange)="onSelectType(); setReportList()">
          <mat-option value="all">ALL TYPES</mat-option>
          @for (rtype of reportTypes; track rtype) {
            <mat-option [value]="rtype.name">
              {{rtype.name.toUpperCase()}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Between Dates</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start Date"
            (dateChange)="setReportList()">
          <input matEndDate formControlName="end" placeholder="End Date"
            (dateChange)="setReportList()">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </form>
    <mat-accordion multi>
      @for (rtype of selectedReports; track rtype) {
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>{{rtype.name}}</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="flexlayout column center">
            @for (rpt of rtype.reports; track rpt) {
              <app-report-archive-file
              [report]="rpt"></app-report-archive-file>
            }
          </div>
        </mat-expansion-panel>
      }
    </mat-accordion>
  </div>
</div>