<div class="flexlayout column top" style="background-color: white;">
  <div class="flexlayout row center">
    <div class="list">
      @for (item of positions; track item) {
        <div
          (click)="selectPosition(item.id)"
          [class]="setItemClass(item.id)"
        >{{item.label}}</div>
      }
    </div>
    <div class="layout-stretch sortdiv">
      <div class="layout-top movement"
        matTooltip="Change Display Order - Move Up"
        (click)="onChangeSort('up')">
        @if (showSortUp) {
          <mat-icon>arrow_drop_up</mat-icon>
        }
      </div>
      <div class="delete">
        @if (selected.id !== 'new' && selected.id !== '') {
          <div class="deletebutton"
            matTooltip="Delete selected position"
            (click)="onDeletePosition()">
            <mat-icon>delete</mat-icon>
          </div>
        }
      </div>
      <div class="layout-bottom movement"
        matTooltip="Change Order - Move Down"
        (click)="onChangeSort('down')">
        @if (showSortDown) {
          <mat-icon>arrow_drop_down</mat-icon>
        }
      </div>
    </div>
  </div>
  <form [formGroup]="posForm" class="flexlayout column center"
    style="margin-top: 15px;">
    <div class="flexlayout row top" style="gap: 5px;">
      @if (selected.id === 'new') {
        <mat-form-field>
          <mat-label>Position Identifier</mat-label>
          <input matInput formControlName="id" >
          @if (posForm.controls['id'].hasError('required')) {
            <mat-error
            class="error">Required</mat-error>
          }
          @if (posForm.controls['id'].hasError('pattern')) {
            <mat-error
            class="error">Check Pattern</mat-error>
          }
        </mat-form-field>
      }
      <mat-form-field>
        <mat-label>Position Name/Title</mat-label>
        <input matInput formControlName="name"
          (blur)="onChangePosition('name')">
        @if (posForm.controls['id'].hasError('required')) {
          <mat-error
          class="error">Required</mat-error>
        }
      </mat-form-field>
      @if (selected.id === 'new') {
        <button mat-icon-button color="accent"
          (click)="onAddPosition()">
          <mat-icon>add</mat-icon>
        </button>
      }
    </div>
    <div class="flexlayout row top">
      @if (this.selected.id !== 'new') {
        <mat-form-field appearance="outline" class="extraWideField"
          >
          <mat-label>Assigned Employees</mat-label>
          <mat-select formControlName="assigned" multiple
            (selectionChange)="onChangePosition('assigned')">
            @for (emp of site.employees; track emp) {
              <mat-option [value]="emp.id">
                {{emp.name.getLastFirst()}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
    </div>
  </form>
</div>