.toplevel {
  position: relative;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.list {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 248px;
  bottom: 0px;
  background-color: white;
  border: solid 1px black;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 248px;
  height: 20px;
  font-size: 1rem;
  font-weight: bold;
  border: solid 1px black;
  color: black;
  margin: 0;
  padding: 0;
}

.item:hover {
  background-color: lightblue;
  color: black;
  border: solid 1px black;
}

.selected {
  background-color: #673ab7;
  color: white;
  border: solid 1px white;
}

.formDiv {
  position: absolute;
  top: 0px;
  left: 260px;
  right: 10px;
  bottom: 0px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.formlabel {
  width: 160px;
  font-size: 10pt;
  margin: 0;
  padding: 0;
  font-size: 14pt;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.forminput {
  width: 150px;
  margin: 0;
  margin-left: 5px;
  padding: 0;
  font-size: 14pt;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.formfull {
  width: 210px;
  margin: 0;
  padding: 0;
}

.formrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: solid 1px black;
  margin: 0;
  padding: 0;
}