<form [formGroup]="dialogForm">
  <div class="fxLayout-column-center">
    <h3>User acccount requires Email Address and Password!</h3>
    <div class="formField">
      <mat-form-field appearance="fill">
        <mat-label>Email Address</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="this.dialogForm.get('email')?.hasError('required')"
          class="error">Email is Required</mat-error>
        <mat-error *ngIf="this.dialogForm.get('email')?.hasError('email')"
          class="error">Wrong Format (acct@domain)</mat-error>
      </mat-form-field>
    </div>
    <div class="formField">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error *ngIf="this.dialogForm.get('password')?.invalid"
          class="error">{{getPasswordError()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="formField">
      <mat-form-field appearance="fill">
        <mat-label>Verify Password</mat-label>
        <input matInput formControlName="password2" type="password">
        <mat-error *ngIf="this.dialogForm.get('password2')?.invalid"
          class="error">{{getVerifyError()}}</mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onOkClicked()">Ok</button>
</div>
