<div [class]="viewClass()" style="margin: 10px;">
  <form [formGroup]="profileForm" class="flexlayout column center">
    <ng-container *ngIf="showPassword">
      <div class="flexlayout row center flexwrap">
        <mat-form-field>
          <mat-label>Login E-mail Address</mat-label>
          <input matInput formControlName="email"
            (blur)="updateUserField('email')">
        </mat-form-field>
      </div>
    </ng-container>
    <div class="flexlayout row center flexwrap flexgap">
      <mat-form-field [style]="nameStyle()">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="first"
          (blur)="updateUserField('first')">
      </mat-form-field>
      <mat-form-field [style]="nameStyle()">
        <mat-label>Middle Name</mat-label>
        <input matInput formControlName="middle"
          (blur)="updateUserField('middle')">
      </mat-form-field>
      <mat-form-field [style]="nameStyle()">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="last"
          (blur)="updateUserField('last')">
      </mat-form-field>
    </div>
    <ng-container *ngIf="showPassword">
      <div class="flexlayout row center flexwrap">
        <h3>Reset Password</h3>
      </div>
      <div class="flexlayout row center flexwrap flexgap">
          <mat-form-field [style]="passwdStyle()">
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="this.profileForm.get('password')?.invalid"
              class="error">
              {{getPasswordError()}}
            </mat-error>
          </mat-form-field>
          <mat-form-field [style]="passwdStyle()">
            <mat-label>Verify Password</mat-label>
            <input matInput type="password" formControlName="password2">
            <mat-error *ngIf="this.profileForm.get('password2')?.invalid"
              class="error">
              {{getVerifyError()}}
            </mat-error>
          </mat-form-field>
        <div class="formField" style="vertical-align: top; width: 75px;">
          <button mat-raised-button color="accent" 
            [disabled]="!profileForm.valid"
            (click)="setPassword()">Change</button>
        </div>
      </div>
    </ng-container>
    <div class="flexlayout row center flexwrap" *ngIf="formError !== ''">
      <span class="error">{{formError}}</span>
    </div>
  </form>
  <div class="fxlayout flexlayout column center chart">
    <h3>Notifications Address List</h3>
    <form [formGroup]="emailForm" class="flexlayout column center">
      <div class="flexlayout row center">
        <div *ngIf="selectedEmail === ''" class="editor">New: </div>
        <div *ngIf="selectedEmail !== ''" class="editor">Edit: </div>
        <input matInput formControlName="editor" class="emailinput"
          (blur)="updateEmail()">
        <mat-icon *ngIf="selectedEmail !== ''" class="delete"
          (click)="deleteEmail()">delete</mat-icon>
      </div>
      <div class="emaillist">
        <div [class]="setEmailClass('new')" (click)="selectEmail('new')">
          Add New Email Address
        </div>
        <div *ngFor="let em of employee.emails" [class]="setEmailClass(em)"
          (click)="selectEmail(em)">
          {{em}}
        </div>
      </div>
    </form>
  </div>
</div>