.direction {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #e60000;
  color: white;
  border: solid 1px white;
  cursor: pointer;
  height: 35px;
}

.print {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  height: 25px;
  width: 25px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.notprint {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  height: 25px;
  width: 25px;
  background-color: transparent;
  color: white;
  border: none;
}

.overall {
  border-bottom: solid 1px white;
  border-top: solid 1px white;
}

.month {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: transparent;
  color: white;
  height: 35px;
}

/*.mat-expansion-panel,
.mat-expansion-panel-header,
mat-expansion-panel-body {
  padding: 0 !important;
}

.mat-expansion-panel-header {
  padding-right: 5px !important;
  color: white !important;
}

.mat-expansion-panel, 
.mat-expansion-panel.mat-extended {
  background-color: gray;
  border-bottom: solid 1px black;
}*/

mat-panel-description {
  font-size: 1.25em;
  font-weight: bold;
  color: white;
  padding-left: 5px;
}

.monthSelect {
  text-align: center;
  font-size: 14pt;
  background-color: transparent;
  color: white;
  border: none;
  width: 120px;
}

.monthSelectOption {
  background-color: #673ab7;
  color: white;
}

.yearSelect {
  text-align: center;
  font-size: 14pt;
  background-color: transparent;
  color: white;
  border: none;
  width: 80px;
}