<div class="fxLayout flexlayout column center">
  <mat-card style="background-color: #673ab7; color: white;">
    <mat-card-header style="text-align: center;">
      <mat-card-title>
        <div class="mat-headline">Password Recovery (Start)</div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="flexlayout column center">
      <form class="flexlayout column center" [formGroup]="loginForm">
        <h4>
          The process for password recovery starts by passing your email
          address to the server.  If an account for that email address is
          in the system, an email with a recovery token will be provided to
          allow you to include it in the next display to validate the change.
          Pay attention to any errors listed below and if none are returned,
          you will be automatically sent to the recovery page.
        </h4>
        <h4 class="error">If the email was successful, but you don't receive
          it, contact your site leadership.
        </h4>
        <div class="flexlayout row center" style="vertical-align: middle;">
          <mat-form-field style="width: 300px;margin-left: 10px;">
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="email">
            @if (loginForm.controls['email'].hasError('required')) {
              <mat-error
              class="error">Email Address Required</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="flexlayout row center">
          <button mat-raised-button type="submit" color="accent"
            [disabled]="loginForm.invalid"
          (click)="start()">Start Process</button>
        </div>
        @if (errormsg !== '') {
          <div class="flexlayout row center error"
            style="margin-top: 5px;">
            Error: {{errormsg}}
          </div>
        }
      </form>
    </mat-card-content>
  </mat-card>
</div>
