.main {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.title {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.list {
  position: absolute;
  top: 25px;
  left: 0px;
  right: 0px;
  bottom: 190px;
  padding: 3px;
  border-bottom: solid 1px white;
  overflow-y: auto;
}

.editor {
  position: absolute;
  height: 189px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  position: relative;
  left: 3px;
  right: 15px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  color: black;
  cursor: pointer;
}

.normal {
  background-color: white;
}

.item:hover {
  background-color: lightblue;
}

.locked {
  background-color: #ff9999;
}

.expired {
  background-color: #ff9900;
}

.selected {
  background-color: darkblue;
  color: white;
}