<div class="main">
  <div class="title">
    <h4>Account List</h4>
  </div>
  <div class="list">
    @for (user of userList; track user) {
      <div [class]="userClass(user)"
        (click)="onSelect(user.id)">
        {{user.getFullName()}}
      </div>
    }
  </div>
  <div class="editor">
    <form [formGroup]="userForm" class="flexlayout row topleft">
      <div class="flexlayout column topleft flexgap">
        <mat-form-field appearance="fill">
          <mat-label>Permissions</mat-label>
          <mat-select formControlName="perms" multiple
            (selectionChange)="changePermission()">
            @for (perm of permissions; track perm; let i = $index) {
              <mat-option
              [value]="perm">{{permNames[i]}}</mat-option>
            }
          </mat-select>
          @if (userForm.controls['perms'].invalid) {
            <mat-error class="error">
              Required
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="password">
          @if (userForm.controls['password'].invalid) {
            <mat-error class="error">
              Required
            </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="flexlayout column topleft flexstretch" style="gap: 10px;">
        <button mat-raised-button color="accent" (click)="onUnlock()"
          [disabled]="!selectedUser.isLocked()">
          Unlock
        </button>
        <button mat-raised-button (click)="onAdd5Days()"
          [disabled]="!selectedUser.isExpired()">
          Unlock for 5 days
        </button>
        <button mat-raised-button color="warn" (click)="changePassword()"
          [disabled]="userForm.controls['password'].invalid">
          Change
        </button>
      </div>
    </form>
  </div>
</div>