<div class="fxLayout flexlayout column center">
  <mat-card style="background-color: #673ab7; color: white;">
    <mat-card-header style="text-align: center;">
      <mat-card-title>
        <div class="mat-headline">User Login</div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="flexlayout column center">
      <form class="flexlayout column center" [formGroup]="loginForm">
        <div class="flexlayout row center" style="vertical-align: middle;">
          <mat-icon>email</mat-icon>
          <mat-form-field style="width: 300px;margin-left: 10px;">
            <input matInput placeholder="E-mail"
              formControlName="email">
          </mat-form-field>
        </div>
        <div class="flexlayout row center">
          <mat-icon>vpn_key</mat-icon>
          <mat-form-field style="width: 300px;margin-left: 10px;">
            <input matInput placeholder="Password"
              type="password" formControlName="password">
          </mat-form-field>
        </div>
        @if (loginError !== '') {
          <div class="flexlayout row center error">
            {{loginError}}
          </div>
        }
        <div class="flexlayout row center">
          <button mat-raised-button type="submit" color="accent"
            [disabled]="loginForm.invalid"
          (click)="login()">Login</button>
        </div>
        <div class="flexlayout row topright"
          style="margin-top: 3px;width: 99%">
          <a routerLink="/reset/start" class="forgot">Forgot Password</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
