h1 {
  color: white;
}

.user {
  font-size: .7em;
}

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-is-mobile .app-toolbar {
  position: fixed;
  z-index: 2;
}

.app-sidenav-container {
  flex: 1;
}

.app-is-mobile .app-sidenav-container {
  flex: 1 0 auto;
}

mat-sidenav {
  width: 250px;
}

.statusbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #673ab7;
  color: white;
  font-size: 10pt;
  font-weight: bold;
  height: 25px;
  border: solid 2px white;
  text-align: left;
  padding-left: 5px;
}

.metrics {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  height: 100%;
  width: 100px;
  font-size: .9em;
  font-weight: bold;
  cursor: pointer;
}

.message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  font-size: .9em;
  font-weight: bold;
  padding-left: 3px;
}

.notices {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25px;
  color: lightsalmon !important;
  font-size: .9em;
  font-weight: bold;
  cursor: pointer;
}

.version {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 75px;
  color: lightsalmon !important;
  font-size: .7em;
  font-weight: bold;
  cursor: pointer;
}

.warning-icon {
  color: lightsalmon !important;
}

.warning-icon svg {
  fill: lightsalmon !important;
}