.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 25px;
  font-size: 12pt;
  font-weight: bold;
  border: solid 1px black;
  color: black;
  background-color: #ffffff;
}