<div class="fxLayout flexlayout column center">
  <mat-card style="background-color: #673ab7; color: white;">
    <mat-card-header>
      <div class="flexlayout row center">
        <div class="flexlayout column topleft">
          <div class="headline">Site Editor</div>
          <div class="subheadline">Site: {{site.name}}</div>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content style="padding-right: 25px;">
      <form [formGroup]="siteForm"class="fxLayout-column-topleft"
        style="margin-top: 15px;">
        <div class="formField">
          <mat-form-field appearance="fill" class="fieldWidth">
            <mat-label>Site Name/Title</mat-label>
            <input matInput formControlName="name" 
            (blur)="onChange()">
          </mat-form-field>
        </div>
        <div class="formField">
          <mat-form-field appearance="fill" class="fieldWidth">
            <mat-label>Use Mid Shift Rotation</mat-label>
            <mat-select formControlName="mids"
              (selectionChange)="onChange()">
              <mat-option *ngFor="let v of midsValues" [value]="v">
                {{v.toUpperCase()}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="formField">
          <mat-form-field appearance="fill" class="fieldWidth">
            <mat-label>Zulu Offset</mat-label>
            <input matInput type="number" max="12.0" min="-12.0" step=".5"
              formControlName="offset" (blur)="onChange()">
            <mat-hint>+/- Offset from Zulu</mat-hint>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>