<div class="toplevel flexgap">
  <div class="flexlayout column center" [style]="editorStyle()">
    <h3>Company Editor</h3>
    <div class="list" [style]="listStyle()">
      @for (item of companies; track item) {
        <div [class]="itemClass(item.id)"
          [style]="itemStyle()" (click)="onSelect(item.id)">
          {{item.label}}
        </div>
      }
    </div>
    <form [formGroup]="companyForm" class="flexlayout column topleft">
      @if (selected.id === '' || selected.id === 'new') {
        <div class="formrow">
          <div class="formlabel" [style]="formLabelStyle()">ID</div>
          <div class="forminput" [style]="formInputStyle()">
            <input matNativeControl formControlName="id" [style]="inputStyle()">
          </div>
        </div>
      }
      <div class="formrow">
        <div class="formlabel" [style]="formLabelStyle()">Name</div>
        <div class="forminput" [style]="formInputStyle()">
          <input matNativeControl formControlName="name"
            [style]="inputStyle()" (blur)="onUpdate('name')">
        </div>
      </div>
      <div class="formrow">
        <div class="formlabel" [style]="formLabelStyle()">Ingest Method</div>
        <div class="forminput" [style]="formInputStyle()">
          <select matNativeControl formControlName="ingest"
            [style]="inputStyle()" (change)="onUpdate('ingest')">
            <option value="manual">Manual Entry</option>
            <option value="sap">ADP/SAP Excel Files</option>
            <option value="mexcel">Manual Excel Files</option>
          </select>
        </div>
      </div>
      @if (this.companyForm.controls['ingest'].value !== 'manual') {
        <div class="formrow"
          >
          <div class="formlabel" [style]="formLabelStyle()">Ingest Period</div>
          <div class="forminput" [style]="formInputStyle()">
            <select matNativeControl formControlName="period"
              [style]="inputStyle()" (change)="onUpdate('period')">
              <option value="7">Weekly</option>
              <option value="14">BiWeekly</option>
              <option value="15">BiMonthly</option>
              <option value="30">Monthly</option>
            </select>
          </div>
        </div>
      }
      @if (this.companyForm.controls['ingest'].value !== 'manual' && this.companyForm.controls['period'].value === '7') {
        <div class="formrow"
          >
          <div class="formlabel" [style]="formLabelStyle()">Period Start Day</div>
          <div class="forminput" [style]="formInputStyle()">
            <select matNativeControl formControlName="start"
              [style]="inputStyle()" (change)="onUpdate('start')">
              @for (wd of weekdays; track wd; let i = $index) {
                <option [value]="i">
                  {{wd}}
                </option>
              }
            </select>
          </div>
        </div>
      }
      <div class="formrow" [style]="formFullStyle()">
        <div class="formlabel" [style]="formLabelStyle()">Has Holidays</div>
        <div class="forminput" style="background-color: white;color: black;">
          <input type="checkbox" formControlName="holidays">
        </div>
      </div>
      <div class="formrow">
        <div class="formlabel" [style]="formLabelStyle()">Uses ModTime</div>
        <div class="forminput" style="background-color: white;color: black;">
          <input type="checkbox" formControlName="modtime">
        </div>
      </div>
      <div class="formfull flexlayout row center flexgap">
        @if ((selected.id === '' || selected.id === 'new') && companyForm.valid) {
          <button mat-raised-button
            color="accent" (click)="onAdd()">
            Add
          </button>
        }
        @if (selected.id !== '' && selected.id !== 'new') {
          <button mat-raised-button (click)="onDelete()"
            color="warn">
            Delete
          </button>
        }
        <button mat-raised-button (click)="onClear()">Clear</button>
      </div>
    </form>
  </div>
  @if (this.companyForm.controls['holidays'].value) {
    <app-team-editor-company-holiday
      [team]="team" [company]="selected"
    [width]="columnWidth"></app-team-editor-company-holiday>
  }
  @if (this.companyForm.controls['modtime'].value) {
    <app-team-editor-company-modtime
      [team]="team" [company]="selected"
    [width]="columnWidth"></app-team-editor-company-modtime>
  }
</div>
