.weekend {
  background-color: aqua;
  color: black;
  border: solid 1px aqua;
}

.weekday {
  background-color: white;
  color: black;
  border: solid 1px black;
}

.daycell {
  margin: 0px;
  padding: 0px;
  width: 100px;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.movement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  background-color: darkblue;
  color: white;
  font-size: 16pt;
  font-weight: bold;
  width: 100px;
  height: 48px;
  border: solid 1px darkblue;
}

.month {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  background-color: darkblue;
  color: white;
  font-size: 16pt;
  font-weight: bold;
  width: 508px;
  height: 48px;
  border: solid 1px darkblue;
}

.week {
  position: relative;
}

.day-form-field {
  font-size: 1.2em;
  width: 99% !important;
  background-color: transparent;
  text-align: center;
  border: none;
}