<div class="flexlayout column topleft">
  <div class="flexlayout row topleft">
    <div class="direction" (click)="changeMonth('down', 'year')">&lt;&lt;</div>
    <div class="direction" (click)="changeMonth('down', 'month')">&lt;</div>
    <div class="overall flexlayout row center">
      <div class="notprint">&nbsp;</div>
      <div class="month" [style]="monthStyle">
        <form [formGroup]="monthForm" class="flexlayout row center flexgap">
          <select class="monthSelect" (change)="selectMonth()" 
            formControlName="month">
            <option *ngFor="let m of months;let i = index" [value]="i"
              class="monthSelectOption">
              {{m}}
            </option>
          </select>
          <input type="number" (change)="selectMonth()" formControlName="year"
          class="yearSelect">
        </form>
      </div>
      <div class="print" (click)="onSubmit()" matTooltip="Create Printable Schedule">
        <mat-icon>print</mat-icon>
      </div>
    </div>
    <div class="direction" (click)="changeMonth('up', 'month')">&gt;</div>
    <div class="direction" (click)="changeMonth('up', 'year')">&gt;&gt;</div>
  </div>
  <mat-accordion displayMode="flat" multi>
    <ng-container *ngFor="let wkctr of workcenters">
      <mat-expansion-panel [expanded]="isExpanded(wkctr.id)"
        (opened)="openPanel(wkctr.id)" (closed)="closePanel(wkctr.id)"
        class="remove-mat-expansion-panel-padding">
        <mat-expansion-panel-header [collapsedHeight]="'25px'" [expandedHeight]="'25px'">
          <mat-panel-description>
            {{wkctr.name.toUpperCase()}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="flexlayout column center">
          <div class="flexlayout row center">
            <div class="name">&nbsp;</div>
            <div *ngFor="let dt of dates" class="day" [style]="getDateStyle(dt)">
              {{dt.getUTCDate()}}
            </div> 
          </div>
          <div class="flexlayout row center">
            <div class="name">Name</div>
            <div *ngFor="let dt of dates" class="day" [style]="getDateStyle(dt)">
              {{weekdays[dt.getUTCDay()]}}
            </div> 
          </div>
          <ng-container *ngFor="let pos of wkctr.positions; let i = index">
            <app-site-schedule-row *ngFor="let emp of pos.employees"
              [employee]="emp" [index]="(emp.even) ? 0 : 1" [month]="month"
              [lastWorked]="getLastWorked(emp)"
            ></app-site-schedule-row>
          </ng-container>
          <ng-container *ngFor="let sft of wkctr.shifts">
            <ng-container *ngIf="showShift(sft.id)">
              <app-site-schedule-row *ngFor="let emp of sft.employees; let i = index"
                [employee]="emp" [index]="(emp.even) ? 0 : 1" [month]="month"
                [lastWorked]="getLastWorked(emp)">
              </app-site-schedule-row>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="wkctr.employees && wkctr.employees.length > 0">
            <app-site-schedule-row *ngFor="let emp of wkctr.employees; let i = index"
            [employee]="emp" [index]="(emp.even) ? 0 : 1" [month]="month" 
            [lastWorked]="getLastWorked(emp)">
          </app-site-schedule-row>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</div>
