<div class="column">
  <div class="row label month" [style]="getUTCMonthStyle()" (click)="expandMonth()">
    {{getUTCMonth()}}
  </div>
  <div class="row">
    <div class="label month" style="width: 50px">Total</div>
    @if (month.expand) {
      @for (week of month.weeks; track week) {
        <div class="label week"
          style="width: 50px;">
          {{week.end.getUTCMonth() + 1}}/{{week.end.getUTCDate()}}
        </div>
      }
    }
  </div>
  @for (emp of employees; track emp; let e = $index) {
    <div class="row">
      <div [class]="getStyle('total', e)">
        {{getTotalValue(emp)}}
      </div>
      @if (month.expand) {
        @for (week of month.weeks; track week) {
          <div [class]="getStyle('week', e)">
            {{getWeekValue(emp, week)}}
          </div>
        }
      }
    </div>
  }
</div>
