<div class="column">
  <div class="row label month" [style]="getUTCMonthStyle()" (click)="expandMonth()">
    {{getUTCMonth()}}
  </div>
  <div class="row">
    <div class="label month" style="width: 50px">Total</div>
    <ng-container *ngIf="month.expand">
      <div class="label week" *ngFor="let week of month.weeks"
        style="width: 50px;">
        {{week.end.getUTCMonth() + 1}}/{{week.end.getUTCDate()}}
      </div>
    </ng-container>
  </div>
  <div class="row" *ngFor="let emp of employees;let e = index">
    <div [class]="getStyle('total', e)">
      {{getTotalValue(emp)}}
    </div>
    <ng-container *ngIf="month.expand">
      <div [class]="getStyle('week', e)" *ngFor="let week of month.weeks">
        {{getWeekValue(emp, week)}}
      </div>
    </ng-container>
  </div>
</div>
