<div class="flexlayout column center">
  <div class="flexlayout row center">
    <div class="movement" [style]="headerStyle('movement')">
      @if (deletable) {
        <button mat-icon-button color="warn"
          matTooltip="Delete this schedule"
          (click)="deleteSchedule()">
          <mat-icon>delete</mat-icon>
        </button>
      }
    </div>
    <div class="month" [style]="headerStyle('month')">{{label}}</div>
    <div class="movement" [style]="headerStyle('movement')">
      <form [formGroup]="scheduleForm">
        <select class="day-form-field" formControlName="days"
          (change)="changeDays()"
          style="color: white;">
          @for (opt of days; track opt) {
            <option [value]="opt" class="options">{{opt}}</option>
          }
        </select>
      </form>
    </div>
  </div>
  <div class="flexlayout row center">
    <div class="daycell" [style]="weekdayStyle(0)">SUN</div>
    <div class="daycell" [style]="weekdayStyle(1)">MON</div>
    <div class="daycell" [style]="weekdayStyle(2)">TUE</div>
    <div class="daycell" [style]="weekdayStyle(3)">WED</div>
    <div class="daycell" [style]="weekdayStyle(4)">THU</div>
    <div class="daycell" [style]="weekdayStyle(5)">FRI</div>
    <div class="daycell" [style]="weekdayStyle(6)">SAT</div>
  </div>
  @for (week of workweeks; track week) {
    <div class="flexlayout row center">
      @for (wd of week.getWorkdays(); track wd) {
        <app-site-employees-assignment-schedule-day
          [site]="site"
          [showdates]="showdates"
          [disabled]="isDisabled(wd.id)"
          [copy]="setCopy(wd.id)"
          [width]="width"
          [workday]="wd" (changedate)="updateDate($event)">
        </app-site-employees-assignment-schedule-day>
      }
    </div>
  }
</div>