<div class="toplevel">
  <div class="formDiv">
    <div class="label">Who's Working Query</div>
    <form [formGroup]="query" class="flexlayout row center flexgap">
      <mat-form-field appearance="fill">
        <mat-label>Hours for Period</mat-label>
        <input matInput type="number" formControlName="hours">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Find Specialties</mat-label>
        <mat-select formControlName="specialties" multiple="true">
          <mat-option *ngFor="let sp of team.specialties" [value]="sp.id">
            {{sp.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="accent"
        (click)="onComplexStart()">
        Run
      </button>
    </form>
  </div>
  <div class="listDiv">
    <div class="label">
      Employees Working
    </div>
    <div class="list">
      <div [class]="itemClass(item.id)" *ngFor="let item of employees"
        (click)="onSelect(item.id)">
        {{item.name.getFullName()}} ({{item.site.toUpperCase()}})
      </div>
    </div>
  </div>
  <div class="viewDiv">
    <div class="label">Selected Employee's Information</div>
    <div class="informationDiv">
      <app-query-contacts [team]="team" [employee]="selectedEmployee"
        style="width: 100%;">
      </app-query-contacts>
      <app-query-specialties [team]="team" [employee]="selectedEmployee"
        style="width: 100%;"></app-query-specialties>
    </div>
  </div>
</div>
