.toplevel {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #673ab7;
  color: white;
  border: solid 1px yellow;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.formDiv {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 90px;
}

.listDiv {
  position: absolute;
  top: 100px;
  left: 0px;
  bottom: 0px;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.viewDiv {
  position: absolute;
  top: 100px;
  left: 370px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border: solid 1px black;
  background-color: white;
  overflow-y: auto;
}

.item {
  display: flex;
  flex-direction: row;
  width: 99%;
  min-height: 20px !important;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: solid 1px black;
  color: black;
}

.selected {
  background-color: #673ab7;
  color: white;
  border: solid 1px white;
}

.item:hover {
  background-color: lightblue;
  color: black;
  border: solid 1px black;
}

.label {
  background-color: #673ab7;
  color: white;
  width: 100%;
  height: 25px;
  margin-top: 5px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.informationDiv {
  position: absolute;
  top: 30px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: solid 1px white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}