.app-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.list {
  text-align: center;
  vertical-align: top;
  padding: 0;
  margin: 0;
  width: 260px;
  height: 300px;
  border: solid 1px white;
  overflow-y: auto;
}

.employee {
  display: flex;
  width: 243px;
  min-height: 30px !important;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
  font-weight: bold;
  cursor: pointer;
}

.employee:hover {
  background-color: lightblue;
  color: black;
  border: solid 1px black;
}

.selected {
  background-color: #673ab7;
  color: white;
  border: solid 1px white;
}

.active {
  background-color: white;
  color: black;
  border: solid 1px black;
}

