<div class="statusbar">
  <div class="metrics" (click)="goToMetrics()">Go To Metrics</div>
  <div class="message">
    {{this.authService.statusMessage}}
  </div>
  <div class="flex-spacer"></div>
  <div class="notices">
    <button mat-icon-button *ngIf="this.msgService.showAlerts"
    matTooltip="Notifications Available"
    routerLink="/notifications">
    <mat-icon class="warning-icon">notification_important</mat-icon>
  </button>
  </div>
  <div class="version">
    {{appVersion}}
  </div>
</div>