<div class="flexlayout column center">
  <h3>ModTime Periods</h3>
  <div class="list" [style]="listStyle()">
    @for (item of modtimes; track item) {
      <div [class]="itemClass(item.id)"
      [style]="itemStyle()" (click)="onSelect(item.id)">{{item.label}}</div>
    }
  </div>
  <form [formGroup]="modForm" class="flexlayout column center">
    <div class="formrow">
      <div class="formlabel" [style]="formStyle()">
        Year
      </div>
      <div class="forminput whiteBackground" [style]="formStyle()">
        @if (selected.year <= 0) {
          <input matNativeControl formControlName="year" type="number"
            class="forminput" [style]="dateStyle()">
        }
        @if (selected.year > 0) {
          <input matNativeControl formControlName="year" readonly
            class="forminput" [style]="dateStyle()">
        }
      </div>
    </div>
    <div class="formrow">
      <div class="formlabel" [style]="formStyle()">Period Start Date</div>
      <div class="forminput whiteBackground" [style]="formStyle()">
        <input matNativeControl formControlName="start"
          [style]="dateStyle()"
          (dateChange)="onUpdate('start')"
          [matDatepicker]="startpicker">
        <mat-datepicker-toggle matIconSuffix [for]="startpicker"></mat-datepicker-toggle>
        <mat-datepicker #startpicker></mat-datepicker>
      </div>
    </div>
    <div class="formrow">
      <div class="formlabel" [style]="formStyle()">Period End Date</div>
      <div class="forminput whiteBackground" [style]="formStyle()">
        <input matNativeControl formControlName="end"
          [style]="dateStyle()"
          (dateChange)="onUpdate('end')"
          [matDatepicker]="endpicker">
        <mat-datepicker-toggle matIconSuffix [for]="endpicker"></mat-datepicker-toggle>
        <mat-datepicker #endpicker></mat-datepicker>
      </div>
    </div>
    <div class="formrow flexgap">
      @if (selected.year <= 0) {
        <button mat-raised-button color="accent"
          (click)="onAdd()">
          Add
        </button>
      }
      @if (selected.year > 0) {
        <button mat-raised-button color="warn"
          (click)="onDelete()">
          Delete
        </button>
      }
      <button mat-raised-button (click)="onClear()">Clear</button>
    </div>
    @if (error !== '') {
      <div class="formrow error flexwrap"
        [style]="errorStyle()">
        {{error}}
      </div>
    }
  </form>
</div>