<div class="flexlayout column topleft" [style]="pageStyle()">
  <div class="headline">Workcenter Editor</div>
  <div class="flexlayout row top" style="gap: 10px;">
    <div class="flexlayout column topleft">
      <div class="flexlayout row center" style="width: 100%;">
        <div class="label">Workcenters</div>
      </div>
      <div class="flexlayout row topcenter">
        <div class="list">
          <div *ngFor="let item of workcenters"
          (click)="onSelectWorkcenter(item.id)"
          [class]="setItemClass(item.id)"
          >{{item.label}}</div>
        </div>
        <div class="layout-stretch sortdiv">
          <div class="layout-top movement"
            matTooltip="Change Display Order - Move Up"
            (click)="onChangeSort('up')">
            <mat-icon *ngIf="showSortUp">arrow_drop_up</mat-icon>
          </div>
          <div class="delete">
            <div class="deletebutton"
              *ngIf="selected.id !== 'new' && selected.id !== ''"
              matTooltip="Delete selected workcenter"
              (click)="onDeleteWorkcenter()">
              <mat-icon>delete</mat-icon>
            </div>
          </div> 
          <div class="layout-bottom movement"
            matTooltip="Change Order - Move Down"
            (click)="onChangeSort('down')">
            <mat-icon *ngIf="showSortDown">arrow_drop_down</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <form [formGroup]="wcForm" class="fxLayout-column-topleft"
      style="margin-top: 15px;">
      <mat-form-field appearance="fill" style="margin-bottom: 25px;"
        *ngIf="selected.id === 'new'">
        <mat-label>Workcenter Identifier</mat-label>
        <input matInput formControlName="id" (blur)="onChangeField('id')">
        <mat-hint>Only lower case letters, numbers and / or -</mat-hint>
        <mat-error *ngIf="wcForm.controls['id'].hasError('required')"
          class="error">Required</mat-error>
        <mat-error *ngIf="wcForm.controls['id'].hasError('pattern')"
          class="error">Check Pattern</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Workcenter Name/Title</mat-label>
        <input matInput formControlName="name" (blur)="onChangeField('name')">
        <mat-error *ngIf="wcForm.controls['id'].hasError('required')"
          class="error">Required</mat-error>
      </mat-form-field>
      <div class="flexlayout row center">
        <button mat-raised-button color="warn" style="margin-left: 10px;"
          *ngIf="selected.id === 'new'"
          (click)="onClearClick()">Clear</button>
        <button mat-raised-button color="accent"
          *ngIf="selected.id === 'new'"
          (click)="onAddWorkcenter()" cdkFocusInitial>Add</button>
      </div>
    </form>
    <div class="flexlayout column top" 
    style="border: solid 1px white;padding: 2px;"
    *ngIf="selected.id !== 'new'">
      <mat-tab-group [backgroundColor]="'warn'" [(selectedIndex)]="posSelectIndex">
        <mat-tab label="Workcenter Shifts">
          <app-site-editor-workcenter-shift [workcenter]="selected"
            [site]="site" [teamid]="teamid" (changed)="onChanged($event)">
          </app-site-editor-workcenter-shift>
        </mat-tab>
        <mat-tab label="Workcenter Positions">
          <app-site-editor-workcenter-position [workcenter]="selected"
            [site]="site" [teamid]="teamid" (changed)="onChanged($event)">
          </app-site-editor-workcenter-position>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>