<div class="flexlayout column topleft" [style]="pageStyle()">
  <div class="headline">Workcenter Editor</div>
  <div class="flexlayout row top" style="gap: 10px;">
    <div class="flexlayout column topleft">
      <div class="flexlayout row center" style="width: 100%;">
        <div class="label">Workcenters</div>
      </div>
      <div class="flexlayout row topcenter">
        <div class="list">
          @for (item of workcenters; track item) {
            <div
              (click)="onSelectWorkcenter(item.id)"
              [class]="setItemClass(item.id)"
            >{{item.label}}</div>
          }
        </div>
        <div class="layout-stretch sortdiv">
          <div class="layout-top movement"
            matTooltip="Change Display Order - Move Up"
            (click)="onChangeSort('up')">
            @if (showSortUp) {
              <mat-icon>arrow_drop_up</mat-icon>
            }
          </div>
          <div class="delete">
            @if (selected.id !== 'new' && selected.id !== '') {
              <div class="deletebutton"
                matTooltip="Delete selected workcenter"
                (click)="onDeleteWorkcenter()">
                <mat-icon>delete</mat-icon>
              </div>
            }
          </div>
          <div class="layout-bottom movement"
            matTooltip="Change Order - Move Down"
            (click)="onChangeSort('down')">
            @if (showSortDown) {
              <mat-icon>arrow_drop_down</mat-icon>
            }
          </div>
        </div>
      </div>
    </div>
    <form [formGroup]="wcForm" class="fxLayout-column-topleft"
      style="margin-top: 15px;">
      @if (selected.id === 'new') {
        <mat-form-field appearance="fill" style="margin-bottom: 25px;"
          >
          <mat-label>Workcenter Identifier</mat-label>
          <input matInput formControlName="id" (blur)="onChangeField('id')">
          <mat-hint>Only lower case letters, numbers and / or -</mat-hint>
          @if (wcForm.controls['id'].hasError('required')) {
            <mat-error
            class="error">Required</mat-error>
          }
          @if (wcForm.controls['id'].hasError('pattern')) {
            <mat-error
            class="error">Check Pattern</mat-error>
          }
        </mat-form-field>
      }
      <mat-form-field appearance="fill">
        <mat-label>Workcenter Name/Title</mat-label>
        <input matInput formControlName="name" (blur)="onChangeField('name')">
        @if (wcForm.controls['id'].hasError('required')) {
          <mat-error
          class="error">Required</mat-error>
        }
      </mat-form-field>
      <div class="flexlayout row center">
        @if (selected.id === 'new') {
          <button mat-raised-button color="warn" style="margin-left: 10px;"
          (click)="onClearClick()">Clear</button>
        }
        @if (selected.id === 'new') {
          <button mat-raised-button color="accent"
          (click)="onAddWorkcenter()" cdkFocusInitial>Add</button>
        }
      </div>
    </form>
    @if (selected.id !== 'new') {
      <div class="flexlayout column top"
        style="border: solid 1px white;padding: 2px;"
        >
        <mat-tab-group [backgroundColor]="'warn'" [(selectedIndex)]="posSelectIndex">
          <mat-tab label="Workcenter Shifts">
            <app-site-editor-workcenter-shift [workcenter]="selected"
              [site]="site" [teamid]="teamid" (changed)="onChanged($event)">
            </app-site-editor-workcenter-shift>
          </mat-tab>
          <mat-tab label="Workcenter Positions">
            <app-site-editor-workcenter-position [workcenter]="selected"
              [site]="site" [teamid]="teamid" (changed)="onChanged($event)">
            </app-site-editor-workcenter-position>
          </mat-tab>
        </mat-tab-group>
      </div>
    }
  </div>
</div>