[Unit]
Description=Metrics API Service
Wants=network.target
#After=syslog.target network-online.target

[Service]
Type=simple
#Restart=on-failure
#RestartSec=10
EnvironmentFile=/usr/local/etc/schedulerEnv
ExecStart=/usr/local/bin/metrics-api
#KillMode=process

[Install]
WantedBy=multi-user.target