.list {
  position: relative;
  text-align: center;
  vertical-align: top;
  padding: 0;
  margin: 0;
  width: 348px;
  height: 250px;
  background-color: white;
  border: solid 1px white;
  overflow-y: auto;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 348px;
  height: 20px;
  font-size: 1rem;
  font-weight: bold;
  border: solid 1px black;
  color: black;
  margin: 0;
  padding: 0;
}

.item:hover {
  background-color: lightblue;
  color: black;
  border: solid 1px black;
}

.selected {
  background-color: #3f51b5;
  color: white;
}

.input {
  width: 340px !important;
}

.halfinput {
  width: 170px !important;
}