.checkbox {
  width: 35px;
  align-items: center;
  align-content: center;
}

.message {
  align-items: left;
  justify-content: stretch;
  margin: 2px 5px;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 2px;
}

.notification {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
}

.even {
  background-color: white;
  color: black;
}

.odd {
  background-color: lightgray;
  color: black;
}