<div class="main">
  <div class="title">Leave Request Denied - Mid-Shift Requirement</div>
  <div class="body">
    Local policy for Mid-Shift coverage requires that individuals scheduled 
    for that shift can't take leave during the scheduled Mid-Shift period.  
    Please arrange with another individual to swap your Mid-Shift rotation 
    and/or talk to supervisor to make other arrangements.
  </div>
  <div class="button">
    <button mat-raised-button color="accent" [mat-dialog-close]="">
      I Understand
    </button>
  </div>
</div>
