<div class="fxLayout fxLayout-column-center">
  <mat-card class="standardCard" style="background-color: #673ab7;">
    <mat-card-header>
      <div class="fxLayout-row-topleft">
        <h2>Log Viewer</h2>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="flexlayout column topleft">
        <form [formGroup]="logForm" class="formRow">
          <mat-form-field appearance="fill">
            <mat-label>View Log</mat-label>
            <mat-select formControlName="portion" 
              (selectionChange)="setLogEntries()">
              <ng-container *ngFor="let portion of portions; let i = index">
                <mat-option [value]="portion">{{portionTitles[i]}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>View Year</mat-label>
            <input matInput type="number" formControlName="year"
              (change)="setLogEntries()">
          </mat-form-field>
          <button mat-fab color="accent" (click)="setLogEntries()"
            matTooltip="Refresh the log">
            <mat-icon>refresh</mat-icon>
          </button>
        </form>
        <div class="logViewer" [style]="getListStyle()">
          <app-log-entry *ngFor="let entry of logEntries" [entry]="entry">
          </app-log-entry>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
