<form [formGroup]="leaveForm">
  <div class="fxLayout-row-center" [style]="getRowStyle()">
    <div class="delete" (click)="deleteLeave()">
      <mat-icon class="deleteIcon" matTooltip="Delete leave"
      *ngIf="showInput">delete</mat-icon>
    </div>
    <div class="date">
      <ng-container *ngIf="showInput">
        <input matInput class="form-field" formControlName="date" 
          [style]="getInputStyle()" matTooltip="MM/DD/YYYY format"
          (blur)="updateLeave('date')">
      </ng-container>
      <ng-container *ngIf="!showInput">
        {{dateString(leaveday.leavedate)}}
      </ng-container>
    </div>
    <div class="code">
      <ng-container *ngIf="showInput">
        <select class="form-field" formControlName="code" 
        [style]="getInputStyle()" (change)="updateLeave('code')">
          <option *ngFor="let lc of leaveCodes" style="color: black;" 
          [value]="lc.id">
            {{lc.title}}
          </option>
        </select>
      </ng-container>
      <ng-container *ngIf="!showInput">
        {{codeText()}}
      </ng-container>
    </div>
    <div class="hours">
      <ng-container *ngIf="showInput">
        <input class="form-field" formControlName="hours" 
        [style]="getInputStyle()" (blur)="updateLeave('hours')">
      </ng-container>
      <ng-container *ngIf="!showInput">
        {{leaveday.hours.toFixed(1)}}
      </ng-container>
    </div>
    <div class="status">
      <ng-container *ngIf="showInput">
        <select class="form-field" formControlName="status" 
        [style]="getInputStyle()" (change)="updateLeave('status')">
          <option style="color: black;" value="REQUESTED">Requested</option>
          <option style="color: black;" value="APPROVED">Approved</option>
          <option style="color: black;" value="ACTUAL">Actual</option>
        </select>
      </ng-container>
      <ng-container *ngIf="!showInput">
        {{leaveday.status}}
      </ng-container>
    </div>
  </div>
</form>