<mat-toolbar color="primary" class="app-toolbar">
  <button mat-icon-button *ngIf="this.authService.isAuthenticated"
    (click)="toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-icon svgIcon="calendar"></mat-icon>
  <a mat-button routerLink="home"><h1>{{this.authService.schedulerLabel}}</h1></a>
  <span class="flex-spacer"></span>
  <span class="user" *ngIf="this.authService.isAuthenticated">
    {{this.authService.getUser()?.firstName}}</span>
  <button mat-icon-button *ngIf="!this.authService.isAuthenticated"
    matTooltip="Show Login Form" routerLink="home">
    <mat-icon>lock_open</mat-icon>
  </button>
  <button mat-icon-button *ngIf="this.authService.isAuthenticated"
    matTooltip="Log out the current user"
    (click)="logout()">
    <mat-icon>lock</mat-icon>
  </button>
  <button mat-icon-button *ngIf="this.authService.isAuthenticated"
  (click)="getHelp()" 
    matTooltip="Get Assistance">
    <mat-icon>help</mat-icon>
  </button>
</mat-toolbar>
