<mat-toolbar color="primary" class="app-toolbar">
  @if (this.authService.isAuthenticated) {
    <button mat-icon-button
      (click)="toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  }
  <mat-icon svgIcon="calendar"></mat-icon>
  <a mat-button routerLink="home"><h1>{{this.authService.schedulerLabel}}</h1></a>
  <span class="flex-spacer"></span>
  @if (this.authService.isAuthenticated) {
    <span class="user">
    {{this.authService.getUser()?.firstName}}</span>
  }
  @if (!this.authService.isAuthenticated) {
    <button mat-icon-button
      matTooltip="Show Login Form" routerLink="home">
      <mat-icon>lock_open</mat-icon>
    </button>
  }
  @if (this.authService.isAuthenticated) {
    <button mat-icon-button
      matTooltip="Log out the current user"
      (click)="logout()">
      <mat-icon>lock</mat-icon>
    </button>
  }
  @if (this.authService.isAuthenticated) {
    <button mat-icon-button
      (click)="getHelp()"
      matTooltip="Get Assistance">
      <mat-icon>help</mat-icon>
    </button>
  }
</mat-toolbar>
