<div class="flexlayout column center">
  <div class="overall" [style]="yearStyle()">
    <div class="direction" [style]="directionStyle()" (click)="updateYear('down')">
      &lt;&lt;
    </div>
    <div class="flex-spacer"></div>
    <div class="month">{{year}}</div>
    <div class="flex-spacer"></div>
    <div class="direction" [style]="directionStyle()" (click)="updateYear('up')">
      &gt;&gt;
    </div>
  </div>
  <div [class]="getDisplayClass()">
    @if (showHolidays) {
      <app-employee-ptoholidays-chart-holidays
        [employee]="employee" [year]="year" [width]="getPortionWidth()">
      </app-employee-ptoholidays-chart-holidays>
    }
    <app-employee-ptoholidays-chart-pto [year]="year" [employee]="employee"
      [width]="getPortionWidth()">
    </app-employee-ptoholidays-chart-pto>
  </div>
</div>