<div class="fxLayout-column-center">
  <div class="fxLayout-row-center">
    <div class="daycell weekend" [style]="getDateStyles()">SUN</div>
    <div class="daycell weekday" [style]="getDateStyles()">MON</div>
    <div class="daycell weekday" [style]="getDateStyles()">TUE</div>
    <div class="daycell weekday" [style]="getDateStyles()">WED</div>
    <div class="daycell weekday" [style]="getDateStyles()">THU</div>
    <div class="daycell weekday" [style]="getDateStyles()">FRI</div>
    <div class="daycell weekend" [style]="getDateStyles()">SAT</div>
  </div>
  <ng-container *ngFor="let week of calendar.leaveGroups">
    <div class="fxLayout-row-center">
      <app-leave-request-calendar-day *ngFor="let lv of week.leaves"
        [leave]="lv" [startDate]="startdate" [leavecodes]="leaveCodes"
        [endDate]="enddate" (changed)="processChange($event)"
        [width]="getCellWidth()"></app-leave-request-calendar-day>
    </div>
  </ng-container>
</div>