
<form [formGroup]="compInfoForm" class="flexlayout column topleft"
  style="margin-top: 10px;">
  <div class="flexlayout row topleft flexgap flexwrap">
    <mat-form-field class="fieldWidth">
      <mat-label>Company</mat-label>
      <mat-select formControlName="company"
        (selectionChange)="updateCompanyInfo('company')">
        @for (co of companies; track co) {
          <mat-option
          [value]="co.id">{{co.name}}</mat-option>
        }
      </mat-select>
      @if (this.compInfoForm.get('last')?.hasError('required')) {
        <mat-error
        class="error">Required</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="fieldWidth">
      <mat-label>Employee ID</mat-label>
      <input matInput formControlName="employeeid"
        (blur)="updateCompanyInfo('employeeid')">
      <mat-hint>Company Employee ID</mat-hint>
      @if (this.compInfoForm.get('employeeid')?.hasError('required')) {
        <mat-error
        class="error">Required</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="fieldWidth">
      <mat-label>Alternate ID</mat-label>
      <input matInput formControlName="alternateid"
        (blur)="updateCompanyInfo('alternateid')">
      <mat-hint>Optional</mat-hint>
    </mat-form-field>
    <mat-form-field class="fieldWidth">
      <mat-label>Job Title</mat-label>
      <input matInput formControlName="jobtitle"
        (blur)="updateCompanyInfo('jobtitle')">
      @if (this.compInfoForm.get('jobtitle')?.hasError('required')) {
        <mat-error
        class="error">Required</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="fieldWidth">
      <mat-label>Rank/Grade</mat-label>
      <input matInput formControlName="rank"
        (blur)="updateCompanyInfo('rank')">
      <mat-hint>Optional</mat-hint>
    </mat-form-field>
    <mat-form-field class="fieldWidth">
      <mat-label>Cost Center</mat-label>
      <input matInput formControlName="costcenter"
        (blur)="updateCompanyInfo('costcenter')">
      <mat-hint>Optional</mat-hint>
    </mat-form-field>
    <mat-form-field class="fieldWidth">
      <mat-label>Division</mat-label>
      <input matInput formControlName="division"
        (blur)="updateCompanyInfo('division')">
      <mat-hint>Optional</mat-hint>
    </mat-form-field>
  </div>
</form>