<div class="toplevel">
  <form class="flexlayout row topleft flexgap" [formGroup]="siteform">
    <mat-form-field>
      <mat-label>Site Name/Title</mat-label>
      <input matInput formControlName="name" (blur)="updateSite('name')">
      <mat-error *ngIf="siteform.controls['name'].hasError('required')" 
        class="error">Required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>UTC Offset (+/- hours)</mat-label>
      <input matInput type="number" formControlName="offset" max="12" min="-12"
        step="0.5" (blur)="updateSite('offset')">
      <mat-error *ngIf="siteform.controls['offset'].hasError('required')" 
        class="error">Required</mat-error>
      <mat-error *ngIf="siteform.controls['offset'].hasError('max')" 
        class="error">Maximum +12</mat-error>
      <mat-error *ngIf="siteform.controls['offset'].hasError('min')" 
        class="error">Minimum -12</mat-error>
    </mat-form-field>
  </form>
  <mat-tab-group preserveContent="true" backgroundColor="accent" [style]="setViewStyle()">
    <mat-tab label="Workcenter Editor">
      <app-site-editor-workcenter [teamid]="team.id" [site]="site" 
        [width]="width" (changed)="siteChanged($event)">
      </app-site-editor-workcenter>
    </mat-tab>
    <mat-tab label="Report Editor">
      <app-site-editor-reports [team]="team" [site]="site" [width]="width"
        (changed)="siteChanged($event)"></app-site-editor-reports>
    </mat-tab>
  </mat-tab-group>
</div>
