<form [formGroup]="balanceForm"  class="flexLayout row center" style="margin: 10px;">
  <div class="flexLayout column center">
    <h3>Add Leave Balance for Year?</h3>
    <mat-form-field appearance="fill">
      <mat-label>Year</mat-label>
      <input matInput type="number" formControlName="year">
      <mat-error *ngIf="this.balanceForm.get('year')?.invalid"
        class="error">Required</mat-error>
    </mat-form-field>
  </div>
</form>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onOk()" cdkFocusInitial>Ok</button>
</div>
