<div class="flexlayout column topleft">
  <form [formGroup]="teamsForm" class="flexlayout row topleft flexgap">
    <mat-form-field appearance="fill" style="width: 350px;">
      <mat-label>Choose Team to Edit</mat-label>
      <mat-select formControlName="team" (selectionChange)="onSelect()">
        <mat-option value="">Add New Team</mat-option>
        <mat-option *ngFor="let team of teams" [value]="team.id">
          {{team.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button *ngIf="selectedTeam.id !== ''"
      class="delete" matTooltip="Delete selected team" (click)="onDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </form>
  <app-new-team *ngIf="selectedTeam.id === ''" (added)="updateTeam($event)">
  </app-new-team>
  <app-team-editor *ngIf="selectedTeam.id !== ''" (changed)="updateTeam($event)"
    [width]="appState.viewWidth - 405">
  </app-team-editor>
</div>