<div class="fxLayout-column-center">
  <div class="fxLayout-row-center">
    <div class="movement">
      <button mat-icon-button color="warn"
        matTooltip="Delete this schedule"
        *ngIf="deletable"
        (click)="deleteSchedule()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div class="month" >{{label}}</div>
    <div class="movement">
      <form [formGroup]="scheduleForm">
      <select class="day-form-field" formControlName="days"
        (change)="changeDays()"
      style="color: white;">
        <ng-container *ngFor="let opt of days">
          <option [value]="opt" class="options">{{opt}}</option>
        </ng-container>
      </select>
      </form>
    </div>
  </div>
  <div class="fxLayout-row-center">
    <div class="daycell weekend">SUN</div>
    <div class="daycell weekday">MON</div>
    <div class="daycell weekday">TUE</div>
    <div class="daycell weekday">WED</div>
    <div class="daycell weekday">THU</div>
    <div class="daycell weekday">FRI</div>
    <div class="daycell weekend">SAT</div>
  </div>
  <ng-container *ngFor="let week of workweeks">
    <div class="fxLayout-row-center">
      <app-site-employee-assignment-schedule-day 
        *ngFor="let wd of week.getWorkdays()"
        [site]="site"
        [usedate]="getScheduleDate(wd.id)"
        [disabled]="isDisabled(wd.id)"
        [copy]="setCopy(wd.id)"
        [workday]="wd" (changedate)="updateDate($event)">
      </app-site-employee-assignment-schedule-day>
    </div>
  </ng-container>
</div>
