<div class="flexlayout column topleft">
  <div class="flexlayout row center">
    <div class="movement" (click)="updateYear('down')">&lt;&lt;</div>
    <div class="year">{{this.year}}</div>
    <div class="movement" (click)="updateYear('up')">&gt;&gt;</div>
  </div>
  @if (showLeaveEditor()) {
    <form [formGroup]="leaveForm">
      <div class="editorLabel">New Leave Editor</div>
      <div class="flexlayout row center">
        <div class="formdate">
          <mat-form-field appearance="fill">
            <mat-label>New Date</mat-label>
            <input matInput class="form-field" formControlName="date" [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (leaveForm.controls['date'].hasError('required')) {
              <mat-error class="error formerror"
                >
                * Required
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="code">
          <mat-form-field appearance="fill">
            <mat-label>Leave Type</mat-label>
            <mat-select class="form-field" formControlName="code" >
              @for (lc of leaveCodes; track lc) {
                <mat-option [value]="lc.id">
                  {{lc.title}}
                </mat-option>
              }
            </mat-select>
            @if (leaveForm.controls['code'].hasError('required')) {
              <mat-error class="error formerror"
                >
                * Required
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="hours">
          <mat-form-field appearance="fill">
            <mat-label>Hours</mat-label>
            <input matInput type="number" class="form-field"
              formControlName="hours" step="0.1">
            <mat-hint>0.0</mat-hint>
            @if (leaveForm.controls['hours'].hasError('required')) {
              <mat-error class="error formerror"
                >
                * Required
              </mat-error>
            }
            @if (leaveForm.controls['hours'].hasError('min')) {
              <mat-error class="error formerror"
                >
                * &gt; 0.1
              </mat-error>
            }
            @if (leaveForm.controls['hours'].hasError('max')) {
              <mat-error class="error formerror"
                >
                * &lt;= 12.0
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="status">
          <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select class="form-field" formControlName="status">
              <mat-option value="REQUESTED">Requested</mat-option>
              <mat-option value="APPROVED">Approved</mat-option>
              <mat-option value="ACTUAL">Actual</mat-option>
            </mat-select>
            @if (leaveForm.controls['status'].hasError('required')) {
              <mat-error class="error formerror"
                >
                * Required
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="editorLabel">
        @if (showAddButton()) {
          <button mat-raised-button color="accent" (click)="addLeave()"
            >
            Add Leave
          </button>
        }
        <button mat-raised-button (click)="clearLeaveForm()">
          Clear
        </button>
      </div>
    </form>
  }
  <app-site-employees-leave-chart [employee]="employee" [width]="width"
    [height]="height - 173" [leavecodes]="leaveCodes" [year]="year"
    (changed)="updateEmployee($event)">
  </app-site-employees-leave-chart>
</div>
