<div class="fxLayout fxLayout-column-center">
  <mat-card style="background-color: #673ab7; color: white;">
    <mat-card-header style="text-align: center;">
      <mat-card-title>
        <div class="mat-headline">Timecard Ingest/Entry</div>
        <div class="mat-headline">
          <form [formGroup]="companyForm">
            <mat-form-field class="formFieldWide">
              <mat-label>Company</mat-label>
              <mat-select formControlName="company" class="fieldWidthWide"
                (selectionChange)="onChangeCompany()">
                <mat-option *ngFor="let co of companies" [value]="co.id">
                  {{co.name}}
                </mat-option>
              </mat-select>
            </mat-form-field> 
          </form>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="fxLayout-column-center" style="padding-top: 25px;">
      <app-site-ingest-month [employees]="employees" [leavecodes]="leavecodes"
        [ingestType]="ingestType" (changed)="onChange($event)"
        (monthChanged)="onMonthChanged($event)">
      </app-site-ingest-month>
      <form [formGroup]="ingestForm" *ngIf="ingestType !== 'manual'"
        style="padding-top: 25px;">
        <input formControlName="file" id="file" type="file" multiple
            (change)="onFileChange($event)">
        <div class="flexlayout column center" style="padding-top: 10px;">
          <div *ngFor="let file of myFiles">
            {{file.name}}
          </div>
        </div>
        <div class="flexlayout row center" style="gap: 5px;">
          <button mat-raised-button color="warn"
            (click)="onClear()">Clear</button>
          <button mat-raised-button color="accent"
            (click)="onSubmit()">Upload</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>