<div class="toplevel">
  <div class="flexlayout row center">
    <div class="daylabel" *ngFor="let day of daysOfWeek" [style]="dayLabelStyle()">
      {{day}}
    </div>
  </div>
  <div class="view" [style]="viewStyle()">
    <app-employee-leave-request-editor-calendar-week *ngFor="let week of weeks"
      [weekdays]="week.days" [width]="width" [leavecodes]="leavecodes" 
      [start]="request.startdate" [end]="request.enddate" 
      (changed)="onChange($event)">
    </app-employee-leave-request-editor-calendar-week>
  </div>
</div>
