<div class="toplevel">
  <div class="flexlayout row center">
    @for (day of daysOfWeek; track day) {
      <div class="daylabel" [style]="dayLabelStyle()">
        {{day}}
      </div>
    }
  </div>
  <div class="view" [style]="viewStyle()">
    @for (week of weeks; track week) {
      <app-employee-leave-request-editor-calendar-week
        [weekdays]="week.days" [width]="width" [leavecodes]="leavecodes"
        [start]="request.startdate" [end]="request.enddate"
        (changed)="onChange($event)">
      </app-employee-leave-request-editor-calendar-week>
    }
  </div>
</div>
