<div class="toplevel">
  <div class="nameDiv">
    <form [formGroup]="teamForm">
      <mat-form-field appearance="fill">
        <mat-label>Team Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </form>
  </div>
  <div class="editorDiv">
    <mat-tab-group [backgroundColor]="'warn'" [color]="'primary'" 
      style="width:100%;">
      <mat-tab label="Work Codes">
        <app-team-editor-workcode [team]="team" [width]="width" 
          [height]="height"></app-team-editor-workcode>
      </mat-tab>
      <mat-tab label="Companies">
        <app-team-editor-company [team]="team" [width]="width">
        </app-team-editor-company>
      </mat-tab>
      <mat-tab label="Contact Types">
        <app-team-editor-contacttypes [team]="team" [width]="width">
        </app-team-editor-contacttypes>
      </mat-tab>
      <mat-tab label="Specialty Types">
      </mat-tab>
      <mat-tab label="Sites">

      </mat-tab>
    </mat-tab-group>
  </div>
</div>
