.cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: solid 1px black;
}

.cellinput {
  position: relative;
  border: none;
  width: 99%;
  height: 99%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: transparent;
  color: inherit;
}