<div class="flexlayout row center" [style]="cellBackground">
  <div class="code" [style]="getCodeStyle()">{{getHolidayID()}}</div>
  <div class="referenceDate" [style]="getReferenceStyle()">{{referenceDate}}</div>
  <div class="dates" [style]="getDatesStyle()">
    <app-employee-ptoholidays-chart-holidays-cell-display 
      *ngFor="let day of holiday.leaveDays" [holiday]="day">
    </app-employee-ptoholidays-chart-holidays-cell-display>
  </div>
  <div class="actual" [style]="getHoursStyle()">{{getTotalActual()}}</div>
</div>