<div class="flexlayout column center">
  <h3>Company Holidays Editor</h3>
  <div class="flexlayout row topcenter">
    <div class="list" [style]="listStyle()">
      <div *ngFor="let item of holidays"
      (click)="onSelect(item.id)"
      [class]="itemClass(item.id)" [style]="itemStyle()"
      >{{item.label}}</div>
    </div>
    <div class="layout-stretch sortdiv" [style]="sortStyle()">
      <div class="layout-top movement" [style]="moveStyle()"
        matTooltip="Change Display Order - Move Up"
        (click)="onChangeSort('up')">
        <mat-icon *ngIf="showSortUp">arrow_drop_up</mat-icon>
      </div>
      <div class="layout-bottom movement" [style]="moveStyle()"
        matTooltip="Change Order - Move Down"
        (click)="onChangeSort('down')">
        <mat-icon *ngIf="showSortDown">arrow_drop_down</mat-icon>
      </div>
    </div>
  </div>
  <form [formGroup]="holidayForm" class="flexlayout column center"
    [style]="formStyle()">
    <div class="flexlayout row center goldback" style="width: 100%;">
      <mat-radio-group formControlName="holiday" class="flexlayout row topleft">
        <mat-radio-button value="H" color="primary">
          Holiday
        </mat-radio-button>
        <mat-radio-button value="F" color="primary">
          Floating
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="formrow">
      <div class="formlabel" [style]="labelStyle()">Name</div>
      <div class="forminput" [style]="inputStyle()">
        <input formControlName="name" class="forminput" [style]="inputStyle()"
          (blur)="onUpdate('name')">
      </div>
    </div>
    <div class="flexlayout column center" [style]="formStyle()"
      *ngIf="holidayForm.controls['holiday'].value.toLowerCase() === 'h'">
      <div class="flexlayout row center formfull" 
        style="background-color: black;color: white;">
        Current Reference Date(s)
      </div>
      <div class="flexlayout row topleft formfull flexwrap goldback">
        <ng-container *ngIf="selected.actualdates.length > 0">
          <ng-container *ngFor="let date of selected.actualdates">
            <div class="datelabel" *ngIf="showDate(date)">
              {{getDate(date)}}
              <mat-icon class="deleteactual" matTooltip="Delete reference date"
                (click)="onDeleteActual(getDate(date))">
                close
              </mat-icon>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="selected.actualdates.length <= 0">
          No Reference Dates
        </ng-container>
      </div>
      <div class="formrow">
        <div class="formlabel" [style]="labelStyle()">New Ref Date</div>
        <div class="forminput whiteBackground" [style]="inputStyle()">
          <input matNativeControl formControlName="actual" 
            [style]="dateStyle()"
            [matDatepicker]="startpicker">
          <mat-datepicker-toggle matIconSuffix [for]="startpicker"></mat-datepicker-toggle>
          <mat-datepicker #startpicker></mat-datepicker>
          <mat-icon *ngIf="selected.sort > 0" class="icon"
            matTooltip="Add new reference date" (click)="onUpdate('actual')">
            add
          </mat-icon>
        </div>
      </div>
    </div>
    <div class="flexlayout row center flexgap">
      <button mat-raised-button *ngIf="selected.sort === 0 && holidayForm.valid"
        color="accent" (click)="onAdd()">
        Add
      </button>
      <button mat-raised-button *ngIf="selected.sort > 0" color="warn"
        (click)="onDelete()">
        Delete
      </button>
      <button mat-raised-button (click)="onClear()">Clear</button>
    </div>
  </form>
</div>
