<div class="overall">
  <div class="labels">
    <div class="label day">Date(s)</div>
    @for (label of shiftLabels; track label; let i = $index) {
      <div [class]="getShiftStyle(i)">
        {{label}}
      </div>
    }
  </div>
  @for (dt of dates; track dt) {
    <app-site-employees-leave-approval-availability-day
      [site]="site" [workcenterid]="workcenterid" [employeeid]="employeeid"
      [requestid]="requestid" [date]="dt" [shiftids]="shiftids">
    </app-site-employees-leave-approval-availability-day>
  }
</div>
